[2014-08-26 08:38] mattab opened #1 "Testing the Android SDK for Piwik"
The goal of this project is to build a SDK for Android to measure your apps with Piwik. We have started implementing the SDK. We are now looking for help from the community to review and test our Android SDK!

If you are:
 * familiar with SDK app development
 * familiar with Java
 * and you can spare a bit of time to help us review the SDK and test it on your Android App

please leave a comment in

[2014-09-07 23:32] mattab opened #4 "Run the automated test continuously on Travis CI"
The goal of this issue is to run the tests continuously, using Travis CI. This will provide quick feedback to developers and pull requests authors about their work.

Tasks
- Setup Travis CI builds to run all tests,
- Make the build green on Travis,
- Add the build status badge to the README.

[2014-09-08 13:49] #4 closed, assigned to nobody

[2014-09-23 10:57] tsteur opened #7 "Support Content Tracking"
This will be a new feature in Piwik 2.7.0 see piwik/piwik#4996 .

In PHP Tracker there are two new methods see https://github.com/piwik/piwik/blob/master/libs/PiwikTracker/PiwikTracker.php#L556-L583

`doTrackContentImpression($contentName, $contentPiece = 'Unknown', $contentTarget = false)`

It maps to the three parameters `c_n`, `c_p` and `c_t` see https://github.com/piwik/piwik/blob/master/libs/

[2014-09-25 12:52] #7 closed, assigned to dotsbb

[2014-10-08 05:19] mattab opened #9 "License the Android SDK under Simplified BSD license"
The goal of this issue is to release the Android SDK under the Simplified BSD license.

I've added the license file to git in
https://github.com/piwik/piwik-sdk-android/commit/70675c61f01add4061e133e33794257c691ba1a7

Next steps:
- [x] Add `License` section in README mentioning license
- [x] Edit source files and add a code header:

[code]

[2014-10-08 08:55] #9 closed, assigned to dotsbb

[2014-11-13 23:48] tsteur opened #10 "Request a HTTP 204 code when tracking instead of a gif image"
See piwik/piwik#6577

Not sure if useful for Android SDK or not but wanted to mention it. By sending URL parameter `&send_image=0` you would receive a HTTP 204 response code instead of a GIF image which is slightly faster.

[2014-11-15 04:49] mattab opened #11 "Documentation to install and use the Android SDK for Piwik in your app"
The goal of this issue is to provide users of the SDK a useful Readme file and documentation.

Here is some inspiration for the guide:
 * Here are good example of SDK Android documents: [Piwik iOS SDK](https://github.com/piwik/piwik-sdk-ios), Google Analytics [Android SDK intro](https://developers.google.com/analytics/devguides/collection/android/v4/), [Countly SDK Android](https://github.com/coun

[2014-11-27 12:31] #10 closed, assigned to dotsbb

[2015-01-16 11:51] gilbert1991 opened #14 "Add SNI support"
Hi, when I test on my piwik sever, I met error like below:
javax.net.ssl.SSLException: hostname in certificate didn't match: analytics.test.com != test

[2015-01-16 22:29] dotsbb commented on #14
As far as I know Apache HTTP Client used in Piwik SDK doesn't support Server Name Indication.
Try to use a distinct IP address (so as not to need [SNI](http://en.wikipedia.org/wiki/Server_Name_Indication)).

Meanwhile I'll try to change  HTTP Client to  new port of [HttpClient for Android](https://hc.apache.org/httpcomponents-client-4.3.x/android-port.html) which support SNI and TLS v1.1/v1.2.

[2015-01-17 02:29] gilbert1991 commented on #14
I think it is the case I found on Stackoverflow: http://stackoverflow.com/questions/21956663/why-does-android-get-the-wrong-ssl-certificate-two-domains-one-server. Reference for others.

[2015-02-10 17:04] Twibit opened #16 "Offline mode missing"
If the [dispach](https://github.com/piwik/piwik-sdk-android/blob/7d6df25bd68dbcb1799c93d36bcde904a0c9e42a/piwik_sdk/src/main/java/org/piwik/sdk/Tracker.java#L134) of  events occurs when the device is offline, the events queue is cleared before knowing if the request was a success.

[2015-02-10 17:34] Twibit opened #17 "Publish to Maven"
It would be great if this SDK could be available as a maven/gradle dependency.

Maybe you could use [gradle-mvn-push](https://github.com/chrisbanes/gradle-mvn-push) to do it.

[2015-02-18 20:25] sdunnin opened #18 "User visits do not seem to be tracked properly."
We are registering visits from an Android application. When viewing from the dashboard visits and unique visitors are accurately reflected, however, when calling API method VisitsSummary.getUsers and providing parameter &segment=visitorType==returning the value returned is always zero. The user visits all register as new users even though the users have multiple visits across several days.

Websit

[2015-03-16 22:49] d4rken commented on #16
I'm probably going to tackle this before going into production with piwik in my Android app. Any ideas on a solution direction?

[2015-03-17 02:17] d4rken opened #23 "Why are Piwik instances tracked against a HashMap of Application objects"
AFAIK, the Application object is a singleton that lives as long as the app process exists. There will not be a case where we pass different application objects to Piwik.getInstance(...).

I think we could just remove the HashMap. Did I miss anything?

[2015-03-17 02:20] d4rken commented on #18
Are you storing a user-id?
As i currently understand it the visitor-id is generated and not persisted so will only track the user for his current visit.
Unless you persisted a user-id which is reused each time the app is open, piwik will not be able to track the user accross multiple visits.

[2015-03-17 02:39] d4rken opened #24 "Chaos in autoBindActivities"
Currently onActivityStarted & onActivityResumed both end up calling activityStart(...), leading to 2 tracked screen views each time the activity starts (app starts / app rotation).

When onActivityPaused & onActivityStopped is called, they both call through to activityStop(...). In the same case as above we trying to dispatch two times directly after each other.
The documentation also states that

[2015-03-17 14:11] sdunnin commented on #18
Yes, we pass a consistent userid in the api call from the Android application.

[2015-03-19 13:32] d4rken opened #25 "UserID is neither unique nor persisted nor automatically generated by the SDK."
The documentation says:

Currently the SDK does not generate a userID. it just takes the empty userID field.
There is a getUserId method that generates something but it's only in the demo activity and the ID isn't unique either.
I propose to use the UUID class to create a random UUID, persist it in shared preferences and use that.

Does anyone disagree? I will make a pull request when my current o

[2015-03-23 11:12] d4rken opened #27 "Proposal: Get rid of Piwik/Tracker differentation"
I see no need for the Piwik AND Tracker class except to be able to have multiple Trackers for thread safety.
What if we make the Tracker abstract & threadsafe.
e.g.
[code]
Then in your code you just call MyTracker.get(getContext()).doStuff()

* The HashMap approach in Piwik.class already seems superfluos, see #23
* Dry run / opt out can be set directly.
* autoBindActivities is currently not workin

[2015-03-23 11:25] dotsbb commented on #23
You totally right, there is no need of HashMap. It could be rewritten by users (if they want more than 1 tracker) to something like  this https://developers.google.com/analytics/devguides/collection/android/v4/#tracking-methods

[2015-03-23 11:39] dotsbb commented on #27
I believe that managing `Tracker` instances should be similar to the [Google Analytics SDK Tracker](https://developers.google.com/analytics/devguides/collection/android/v4/). @mattab please confirm if it's true.

`autoBindActivities` is not mandatory and could be refactored.

[2015-03-23 11:49] dotsbb commented on #24
:+1: I'd definitely merge your pull request.

[2015-03-23 11:56] dotsbb commented on #16
I think there should be some FIFO container within Tracker instance so we could store here untracked views. It would be great if this container would be configurable (for example it might accept `MAX_SIZE` param).

[2015-03-23 12:54] d4rken commented on #27
I understand, i didn't know that staying close to GA was desired.
Or maybe i could have figured that as Piwik itself is quite similar.

I'll submit individual PR for the other changes i mentioned, excluding this Piwik/Tracker merge.

I'll look into adding a helper class to the SDK that would allow it to stay close to the GAnalytics design but still offer a few shortcuts to make it easier to use.

[2015-03-23 13:33] dotsbb commented on #27
@d4rken Perfect! I look forward to your PRs.

[2015-03-23 20:04] d4rken opened #28 "Why track Exception with Piwik?"
I'm looking for a use case or legitimization why we should track and forward exceptions.
Is there a plugin for the service tracker that visualizes them well and allows for organization?
Or to prevent reports from older apps for solved issue?

In bigger apps with 100k+ users, you always have crashs that are out of your control and after a few weeks the "Crash Event" list would be filled with useles

[2015-03-23 21:09] mattab commented on #27
quick feedback: I'm not familiar with Android development so unfortunately I don't know much more. but the general idea is that if Google implemented it this way for their SDK, I think there would be a reason for it, maybe some complex use case that would benefit from this feature...?

[2015-03-23 21:13] mattab commented on #28
:+1:

I think it could be useful to users to automatically track exception as [Events](http://piwik.org/docs/event-tracking/) in their app

[2015-03-23 22:03] d4rken commented on #28
Explicitly tracking exceptions could have some usecase, but even then it's almost always replaceable with if-checks, then track a normal event, which is better practice.

Automaticially tracking all exceptions needs strong filtering and extra options on the server side.
As i said for small apps 5k-20k active users this could work, but even then i would recommend picking something like Crashlytics

[2015-03-23 22:10] mattab commented on #28
Oh it's very useful to have your scrutiny actually!

Would this change the way the exception are tracked, eg. https://github.com/piwik/piwik-sdk-android#dispatching ? if so please submit the change to documentation with your PR

[2015-03-23 22:23] d4rken commented on #28
No, it will stay the same, I would basically remove the automatic exception handling and then simplify the exposed API.

I'll make a pullrequest when I'm done with the current one and we can discuss it when everyone can see the changes. I can tag you on the pullrequest if you want.

I'll have a look through the docs though to see if it needs updating.

Alexey did an awesome job with what we alread

[2015-03-23 22:30] d4rken commented on #27
@mattab but there is no direct goal to stay close to their api design? looking at other APIs, e.g. In-App-Purchases API, they sometimes make it overly complicated.

In any case the documentation linked by @dotsbb shows a similar approach to as our SDK currently uses just sans the HashMap, while mentioned in Googles docs, it's an example how the dev could implement it, it's not there by default.

I

[2015-03-25 02:08] d4rken commented on #24
This is resolved, any further discussion can be done in #30.

[2015-03-25 02:08] #24 closed

[2015-03-25 14:17] d4rken opened #31 "Proposal: Remove compiled jar from repo, attach to tagged releases"
Currently the repo contains the compiled jar here:
https://github.com/piwik/piwik-sdk-android/tree/master/piwik_sdk/jar
It's difficult to track against which code version it was built and everytime you make a testbuild it gets changed and suggested to be recommitted by git.
Additionally it's quickly outdated and we don't want (do we?) have to build and update it with each PR.
(Currently the jar do

[2015-03-25 14:25] d4rken opened #32 "Proposal: Switch to a master/dev branch setup"
Currently all changes and PR are merged into the master branch.
I suggest we create a dev branch.
All changes and PR are done on the dev branch.
At certain points someone says "time for a new release":
* Merge the dev branch into master
* Tag the last commit in master after the merge
* Create a new release for this tag, build the jar, attach it.
* Increase the version code+name in the sdk gradle f

[2015-03-25 14:38] d4rken commented on #28
My concerns are addressed with PR #33 further discussion can be done there.

[2015-03-25 14:38] #28 closed

[2015-03-25 16:50] dotsbb commented on #32
Absolutely agree. I'll handle travis.

[2015-03-25 20:35] mattab commented on #31
or maybe we could build the JAR from travis so it's done automatically on each commit?

[2015-03-25 20:43] d4rken commented on #31
If that is possible that would be cool :).
We should differentiate between some "stable" and one "bleeding edge" version though.

[2015-03-25 21:41] d4rken commented on #32
Need me to do anything? Except send new PR via the dev branch.

[2015-03-25 21:43] d4rken commented on #27
I think this issue is resolved for me, we will keep the Piwik/Tracker differentiation and I will submit a PR for #23 which will furter align it with how this is setup in GoogleAnalytics.

It will allow people to make the same enhancement for different trackers that the documentation from GA suggests.

[2015-03-25 21:43] #27 closed

[2015-03-25 21:47] d4rken commented on #18
I don't think this issue will see any progress without further testing from your side.
I suggest to debug your app to make sure that a userID is being transmitted.

If you can not find anything through debugging try to create a simple as possible app that reproduces this.

Possibly you spot an issue and we can enhance the unit tests to catch this in the future.

I'm currently still integrating the

[2015-03-25 22:04] mattab commented on #31
Each commit has its own build. So then when you make a release on github it will create a tags/x.y.z and a commit, which will trigger a build which could build the Android SDK.

[2015-03-26 11:40] d4rken commented on #23
This will be resolved by #34

[2015-03-26 11:40] #23 closed

[2015-03-26 17:27] d4rken commented on #11
I think this can be closed @mattab.

[2015-03-26 17:28] d4rken commented on #1
@mattab this could also be closed so people create new issues for any more changes or concerns they have.

[2015-03-26 18:24] #11 closed

[2015-03-26 21:45] mattab commented on #1
sounds good, the SDK has been publicly released so this issue can be closed. Well done @dotsbb and now also you @d4rken :)

[2015-03-26 21:45] #1 closed

[2015-03-27 12:22] #32 closed

[2015-04-02 18:17] d4rken commented on #25
Fixed by #42

[2015-04-02 18:17] #25 closed

[2015-04-03 21:13] d4rken opened #44 "Idea: When tracking an app download fill thereferrer field with the installer packagename"
So in one of my last PRs #40 i introduced a method to track downloads with either the checksum or the installer packagename as as extra identifier.

What about additionally filling the referrer field (only on the trackdownload query) with the value from [getInstallerPackagename](http://developer.android.com/reference/android/content/pm/PackageManager.html#getInstallerPackageName%28java.lang.String

[2015-04-08 20:17] d4rken commented on #44
Added with #47 i currently also have this in a live test and it works well.

I noticed though that Piwik seems to create an extra visit if the referrer changes during the visit.
There will be the main visit with all events and 1 extra visit just with the event where the referrer changed.

See https://github.com/piwik/piwik/issues/7645

[2015-04-08 20:17] #44 closed

[2015-04-08 20:25] d4rken commented on #18
In my live test the Piwik webpage seems to report a non-zero value for returning visists, although this is with the current dev-branch i found no issues during my changes that would suggest an issue with this.

As the API method for this is not part of the Android-SDK but the main Piwik SDK wouldn't it make sense to close this ticket and create one here: https://github.com/piwik/piwik/issues

[2015-04-08 20:27] d4rken commented on #17
I will look into this, but lets wait another month or few weeks.

The current implementation has changed quite a lot in the last 2 weeks and i expect to submit some more PR in the next weeks.
We don't want to bloat the SDK with @deprecated or other things to keep compatibility with old implementations. Publishing it kinda makes it official :wink: .

[2015-04-08 20:31] d4rken commented on #14
From https://developer.android.com/training/articles/security-ssl.html

If we raise the minAPI to at least 8 (currently 7) this looks doeable without requiring extra 3rd party libs.
If we look at user numbers in the wild, going minAPI 8 seems to no big deal.

[2015-04-08 20:52] dotsbb commented on #14
@d4rken good to hear. I'll vote to bump minAPI to the 8 level.
According to this [chart](http://www.appbrain.com/stats/top-android-sdk-versions) 2.0-2.1 Eclair hits only 0.1% of users (testers perhaps? ;) )

[2015-04-08 20:57] d4rken commented on #14
+1 from me too.
![top10api-tools](https://cloud.githubusercontent.com/assets/1439229/7055249/5ee4a0ec-de42-11e4-8149-1fab957d0e31.PNG)

[2015-04-13 03:56] d4rken commented on #18
I think we need to reopen this @dotsbb

I can randomly pick entries from the live visitor log and see that they have multiple visists across multiple days. "Visits by days since last visit" aswell as "Visits by Visit Number" should have significantly higher values in other rows.

![visits](https://cloud.githubusercontent.com/assets/1439229/7109363/b41f6760-e19c-11e4-8975-a4fb6d32303f.PNG)

As @sdu

[2015-04-13 04:07] d4rken commented on #18
This must be related to one of these paramters:

We set this to a unique random value on a per visit basis. Meaning if you kill the app and open it again you get a new unique value for this field.

We set this to a unique value that doesn't change unless the app is reinstalled.

We don't use this.

TL;DR:
A unique visitorID for each visit and a unique userID for each install.
@mattab ?

[2015-04-14 15:18] d4rken commented on #18
According to https://github.com/piwik/piwik-sdk-ios/issues/46 we are correctly using the ids.
It seems the visitor ID doesn't even matter when the userid is set.

Everything seems to work correctly as entries are grouped toegether correctly in the live visitor log, but then again when we create a filter segment for "Number of Visits" > 1, it shows no results.
I would have created a test segment on

[2015-04-14 19:07] d4rken commented on #18
Well holy shit, i think the solution is very simple. Ofc the values are missing, these things are tracked server-side.

Number of visists:

Last visists:

So i would assume that the "returning visitor" count is depending on those values being set.
I'll test that now.

@mattab Why is the server not tracking the visit count / visit time? He already has access to those values. Is it a performance iss

[2015-04-14 23:29] d4rken commented on #18
See #50.
Not transmitting "_idvc", "_viewts" and "_idts" was the problem.
Filtering for visitor type "returning" does now also work.
I'll be deploying this soon in a larger test again, but tests on my demo server were already pretty promising.

@mattab I'd still love to know why the server doesn't do this for us, but I'm now betting on performance concerns.
@sdunnin Try the dev branch after the PR

[2015-04-20 20:36] d4rken commented on #18
Days since last visit was not yet working correctly but should now be after #53  is merged.

[2015-04-21 11:39] d4rken opened #54 "Trusting System.currentTimeMillis()"
We are currently using **System.currentTimeMillis()** for the values first_visit and previous_visit.
If the user changes the system time, gets a NTP update or wtf else, this can value can jump leading to freak values in the Piwik Dashboard.

Basically this is an issue because the user has to send these values and we have to trust them.

I currently see no better solution for it than just leeting t

[2015-04-24 08:28] d4rken commented on #18
@dotsbb Let's close this one again. Values do look correct now. Except for a few freakvalues which are unavoidable if you trust user values.
![screenshot 2015-04-24 09 50 43](https://cloud.githubusercontent.com/assets/1439229/7315314/a9fbdd94-ea6c-11e4-94a6-c7c5dde317b6.png)

[2015-04-24 15:38] #18 closed

[2015-05-05 19:18] d4rken opened #55 "Merge develop into master."
@dotsbb I think we can merge the current develop branch into master.
I've been using it in production for a month now and I'm satisfied.

New people looking to integrate Piwik into their app shouldn't use the build from current master branch.

We could increase the version to 0.0.2 as there were some major changes.

When merging we should also make sure the .jar file is either updated or removed t

[2015-05-06 19:10] dotsbb commented on #55
@d4rken It's nice to hear from you. I'm very grateful for your feedback, really!

For sure, it's good time to merge dev into master.
I would rather bump dev vesrion to 0.1.0. Current master should be 0.0.2  because it's already ahead  https://github.com/piwik/piwik-sdk-android/tree/v0.0.1 by ~50 commits.

Before we merge it I think it would be nice to have following list done:

* [ ] Fix&close #31

[2015-05-06 20:46] d4rken commented on #55
:+1: sounds good.

We could attach the changelog to releases.
i.e.
Read commits between current tag and previous tag, create release for current tag, write changelog into its description.

[2015-06-03 07:46] ironjan commented on #17
I'd also like this library via maven. Using the source was not possible in the way I'd like [0] but using unversioned binaries [1] also isn't a great solution. Publishing the library on maven does not make it "more official" as on github: as long as the major version is 0, the library is regarded as alpha/beta and may deprecate many things. As soon as the lib hits 1.0.0 it can be regarded as "publ

[2015-06-06 18:47] jitpack-io commented on #17
Hi!
If the build was using the android-maven plugin then it'd be very easy to publish on JitPack Maven repository https://jitpack.io. If you're interested happy to submit a PR for this

[2015-06-06 19:02] d4rken commented on #17
I think we can tackle this now.
The versioning approach @ironjan mentioned does sound good.

@jitpack-io I have no experience with the differences between maven repositories.

Is it not possible to publish this as easily on the apache maven repository that is by default included in Android Gradle projects?

@dotsbb What do you think?

[2015-06-06 19:18] jitpack-io commented on #17
The different thing about JitPack is that you don't need to upload your jar:) It checks out your code, builds it and publishes automatically. All that's needed on the project side is a build file and a GitHub release. Gradle build files just need to have the android-maven plugin enabled.

[2015-06-22 20:03] dotsbb commented on #17
@jitpack-io It sounds awesome. Looking forward for your PR.

@d4rken I have no experience with publishing jars to maven  ether,  so that's why this issue still  labeled `help wanted`.

[2015-06-22 21:24] ironjan commented on #17
@jitpack-io Your PR would be very nice :)

I've got one question for clarification: how is the build on jitpack.io triggered? Is it triggered by the publisher (e.g. by pushing specific tags) or by the "library user" (by requesting unbuilt versions)? I did not understand this point completely from the eplanation on the website.

@dotsbb @d4rken I looked into publishing on maven central out of inter

[2015-06-23 11:05] jitpack-io commented on #17
Hi all! You can already install from JitPack and here's a build for the latest commit:
https://jitpack.io/#piwik/piwik-sdk-android/a03b536f31
With a new GitHub release it would be even easier

[2015-08-16 18:37] d4rken commented on #54
@dotsbb Can you add the tag "help wanted"?

[2015-08-16 18:41] d4rken commented on #17
jCenter isn't Maven, but jCenter replaced Maven as default Android repo, so #57 should resolve this.
The current dev branch (soon to be master) will be available as version 0.0.2 with new versions being uploaded by me after they have been merged into master.

[2015-08-17 07:16] #17 closed

[2015-08-17 07:17] #31 closed

[2015-08-17 07:17] #55 closed

[2015-08-18 05:05] ThanawatMas opened #58 "How can I show returning visitors on Visitor log menu?"
On my Piwik server
When I go to menu Visitors -> Visitor log -> visitors
and view data I got a question that it didn't show icon returning user only on Android Device
![capture2](https://cloud.githubusercontent.com/assets/2458942/9322493/09677dd8-459e-11e5-8c64-735ad98ec225.PNG)
but others always show e.g. iOS, WebBrowser.
![capture](https://cloud.githubusercontent.com/assets/2458942/9322486/05de5

[2015-08-18 10:01] d4rken commented on #58
Which version of the sdk are you using?
The previous master-branch version was bugged in that regard, see #18 which should have been fixed by #50.

I would suggest to update to the current version of 0.0.2. It is an almost complete rewrite, so you will have to change your code, but many things have been fixed.

[2015-08-19 02:40] ThanawatMas commented on #58
I use version 0.0.1 .
For now, I solve this issue follow your suggestion. Thank you very much. @d4rken

[2015-08-19 02:40] #58 closed

[2015-09-03 07:29] d4rken opened #60 "Tag release v0.0.2"
@dotsbb Can you tag https://github.com/piwik/piwik-sdk-android/commit/9237099a7df67d50e78e4f3956428443274858a6 on as v0.0.2 and publish it as release under https://github.com/piwik/piwik-sdk-android/releases ?

[2015-09-03 07:43] d4rken commented on #60
Actually,  https://github.com/piwik/piwik-sdk-android/commit/a2c8ee1e519684b10d03256ec5aa77aaa8052dac
I'll submit a PR

[2015-09-03 07:45] d4rken commented on #60
Nevermind, you can submit tags via PR :astonished: , you'll have to do that.

[2015-09-03 08:06] d4rken opened #61 "Task: Replace deprecated HTTP classes"
The http classes in ```Dispatcher``` are deprecated and no longer availble when building against API 23, we should replace those with ```HttpURLConnection```.

https://developer.android.com/preview/behavior-changes.html#behavior-apache-http-client
http://developer.android.com/reference/java/net/HttpURLConnection.html

[2015-09-03 09:05] dotsbb commented on #60
Done :+1:

[2015-09-03 09:05] #60 closed

[2015-10-05 19:38] mattab opened #64 "Version 1.0.0 ?"
Hi @dotsbb

When do you think we could release version 1.0.0 of the Android SDK?

What would you like to include in this 1.0.0 release?

[2015-10-06 09:46] dotsbb commented on #64
We could release 1.0.0 version with introduced offline mode #16  and fixed deprecated classes #61 at least.
Nice thing to have is Android 6.0 support: example app and gradle settings should be updated.

[2015-10-09 01:14] mattab opened #65 "Welcome to new SDK Android contributor @d4rken"
Dear @d4rken

We warmly welcome you as a committer to the Android SDK for Piwik.

Happy hacking!

Matt & @dotsbb

[2015-10-09 01:14] #65 closed

[2015-10-09 13:35] d4rken commented on #16
A few points that we should consider:

* We should store somekind of version code or error handling with the offline data. Future updates might break compatibility with previously stored but unsent offline data. Best case, still reuse it, in any othercase discard it.
* The local storage should be limited to a configurable size. We could add a setting that allows the dev to choose betwen storing in

[2015-10-09 13:35] d4rken commented on #64
A 1.0.0 release usually means some kind of API commitment.
So we should be happy with the way the API looks.
Are we happy?

#61 is not much work. After that we should be able to build against API 23 (if there is no unforseen conflict, sometimes testing libs throw weird errors when building against newer APIs). I might do that on sunday with a nice cup of coffee.

#16 Is more tricky. I'll post some

[2015-10-19 11:42] corentindesfarges opened #67 "Failed to resolve: org.piwik.sdk:piwik-sdk:0.0.3"
Hi,

I added the sdk to my project dependences (build.gradle)
[code]
When I sync the project, I get this error :
![image](https://cloud.githubusercontent.com/assets/5452616/10576824/8d6e5d06-7666-11e5-885a-6bb197f4e2b4.png)

Am I doing something wrong?

[2015-10-19 12:00] d4rken commented on #67
Nope, you are not.
Looks like the previous bintray/jcenter upload was faulty, sorry for that.

Should be fixed now, try again.

Previously the metadata file was not updated and javadoc/source files were missing too... weird.

https://bintray.com/darken/maven/piwik-sdk-android/0.0.3/view/general#files
https://jcenter.bintray.com/org/piwik/sdk/piwik-sdk/

[2015-10-19 12:00] #67 closed

[2015-11-23 11:23] er1cka opened #68 "piwik-sdk inside project"
hi guys' sorry but i am new on java development, may i ask how to include piwik-sdk inside a project not getting from github or maven? thanks in advance :)

i am using android studio for my platform.

[2015-11-23 14:42] d4rken commented on #68
If including the library via gradle is not an option, you can also build a jar file.

[code]

[2015-11-25 03:28] #68 closed

[2015-12-01 08:36] derekchan opened #69 "Supporting more than 5 Custom Variables"
It is possible to configure Piwik to receive more than 5 cvars (http://piwik.org/faq/how-to/faq_17931/).

CustomVariables.java is currently hard-coded to support 5 CVars. Should we instead make it configurable?

[code]

[2015-12-01 21:10] d4rken commented on #69
Sure, we could do that.
Are you currently obstructed by this limitation?

I would suggest we pass this as parameter within the Tracker constructor as it is something that doesn't and shouldn't change over the objects lifetime.
As the Tracker constructor parameters are becoming quite unwiedly we could introduce a TrackerConfig class. Each setter of this class should have javadoc that explains the o

[2015-12-02 23:26] tsteur opened #70 "Let users track Custom Dimensions"
In https://github.com/piwik/piwik/issues/9129 we created a new plugin to track Custom Dimensions.

To the JavaScript Tracker we added a new method `setCustomDimension(int dimensionId, string dimensionValue)`. This sets a tracking API parameter `dimension$dimensionId=$dimensionValue`. Eg `dimension1=foo` or `dimension2=bar`. So the tracking API parameter starts with `dimension` followed by the set

[2015-12-03 19:05] tsteur commented on #70
BTW: In PHP-Tracker we used a more generic implementation see: https://github.com/piwik/piwik-php-tracker/pull/15/files

It's basically a method `setCustomTrackingParameter(parameter, value)` that let's you set a dimension like this: `setCustomTrackingParameter('dimension1', 'my value')`. Also in the future it will let you set any custom tracking parameter for any custom plugin.

[2015-12-04 19:23] d4rken commented on #70
I favor the generic approach especially as the functionality is still a plugin, additionally this would be flexible for future enhancements.

We could note the planned changes for ```setCustomVariables``` (maybe @deprecate ?) in the javadocs and add the plugin as example to the javadoc for ```setCustomTrackingParameter```

For future reference: https://github.com/piwik/plugin-CustomDimensions

[2015-12-04 20:34] dotsbb commented on #70
@tsteur @d4rken I'll do this one using generic approach.

[2015-12-04 23:33] dotsbb commented on #16
@d4rken Have You seen [this fork](https://github.com/piwik/piwik-sdk-android/compare/dev...Bookvideo:fork/bookvideo?expand=1)? It does 0 of yours considered points at this moment but it can be something we can refactor and introduce features incrementally to it.

[2015-12-04 23:59] d4rken commented on #16
I have now :wink: . It's one way to solve it but as you mentioned, it addresses none of the concerns. I would probably start from scratch, not refactor this.

@apc-kamezaki You might want to refactor ```restoreEventsFromFile``` . It is currently called in the constructor which means it's called from the UI thread (IO operation on the UI thread are bad). This also means if there are lots of cached

[2015-12-06 19:05] tsteur commented on #70
:+1:

They are not deprecated yet, maybe in 1-3 years. No need to add it yet but later for sure

[2015-12-06 22:51] #70 closed

[2015-12-28 23:37] d4rken opened #77 "Testserver for the exampe app"
@mattab Is it possible to get a test server/instance of piwik we can add as target for the example app?

I think the old one was supplied by @dotsbb and is no longer available.

[2015-12-29 21:28] dotsbb commented on #77
@mattab Can we use http://demo.piwik.org/ for this purpose? Could You create a new site there?

[2016-01-04 11:54] suzukieng commented on #16
I just had a look at both the iOS and Android tracking library codebases. The iOS tracking library uses CoreData (ultimately SQlite) to persistently queue a configurable number of events. Wouldn't it be logical to implement it in the same way for Android, i.e. using sqlite and optionally some lightweight ORM on top of it?

[2016-01-04 19:01] d4rken commented on #16
@suzukieng That would be one good way.

But generally we don't have to focus on a specific implementation just because other piwik code bases use it (as long as it works sufficiently well). The public API should be similar and it should behave similar. "Under the hood" stuff like this is almost FFA :grin: . SQlite would be fine, but so would raw files or maybe fancy stuff like realm.io.

The prima

[2016-01-05 08:09] suzukieng commented on #16
@d4rken Completely agree with primary/secondary goals, low impact is absolutely key. What I find hard to judge is how much of a difference it makes if you store events persistently vs. buffer them in-memory, i.e. how often will the app be killed by the OS before events can be uploaded.

Android processes are in general pretty long-lived (see: http://developer.android.com/reference/android/app/Acti

[2016-01-12 21:58] mattab commented on #77
Hi @d4rken @dotsbb - Sure, I've just sent you the credentials. Happy testing!

[2016-01-12 22:19] mattab commented on #77
@dotsbb your CC email does not work anymore, can you please email me from your private email? i'll send you credentials

[2016-01-13 13:55] #77 closed

[2016-01-13 14:34] #14 closed

[2016-01-14 06:16] #61 closed

[2016-01-23 20:43] orian commented on #16
Many Android devices despite having pretty decent version of system (4.3+, many 5.0.3) are short on resources. Thus I would not assume the processes are 'long lived' or the logs from the low-level devices will often be lost. Also keeping them alive just because we can sounds less user friendly than just dumping the data and sending on the next occasion.

**Storage**
What about using [Context.getCa

[2016-01-24 20:30] d4rken commented on #16
SharedPreferences would not be very suited for this as this isn't a good case of key/value based access.

In general we have to assume the app could be killed at any moment, so unless we can somehow get a callback for when the app is killed, we shouldn't keep data in memory for long. Something like batching a few failed requests and writing them into storage based on a timer, would be my idea.

Th

[2016-02-01 13:31] indywidualny opened #84 "What happens where there was no Internet connection and the app was closed?"
I'm using Piwik to count unique app instalations. I was looking through the code and I couldn't find a very important thing.

What happens when the data cannot be dispatched and the user closes the app? Is the data somehow stored until next run in order to try to send it again later?

I wanted to use it as the reliable download counter but I cannot find serialization of not send data anywhere.

So

[2016-02-01 13:44] d4rken commented on #84
The data is currently discarded, see #16

Doesn't a "download" require an active internet connection though?

While the sdk currently does not automate this, if you just want to track your own app installs, you could just check the connection yourself and if no internet connection is available, deferr the action.

[2016-02-01 14:01] indywidualny commented on #84
Thanks. I'm actually counting my own app fresh installations and upgrades.

Checking an Internet connection state seems a great idea. I'm sending data about installations only so manual dispatching seems to be the best. Or setting a dispatch interval to 0 (I understand that if it's set to 0 it constantly tries to send data until there is a success).

However there is a slight modification to intro

[2016-02-01 14:27] d4rken commented on #84
So do I :). Also have some new ideas for that: https://github.com/piwik/piwik-sdk-android/pull/83

Please use ```Tracker.dispatch()``` to force a dispatch outside the regular intervals.

That's not that trivial to do. Because dispatching is async, this needs to happen via callback, because we shouldn't block in "trackDownload". Introducing callbacks is a bad idea, because the mantra of the TrackMe

[2016-02-01 14:40] indywidualny commented on #84
Ok. Thank you. So here is my plan. I will just disable auto dispatching (interval -1) and do `Tracker.dispatch()` when I need to. I need it once so automatic dispatcher is not really useful for me.

I'm not sure how many downloads my app has because it's published on F-Droid and they disabled download stats a few months ago. I'm trying to find out, but it's actually no more than a few thousands im

[2016-02-02 00:16] #84 closed

[2016-02-02 00:27] indywidualny opened #85 "Setting connection timeout"
I'm trying to change connection timeout from 5 to 10 seconds. My server is not very stable at the moment. I tried `mPiwikTracker.getDispatcher().setTimeOut(10000);` in try block below but `getDispatcher()` has protected access. My first question - why? And the second: how do it properly?

I post some code from the class extending Application class to make it easier. This is how I get the tracker.

[2016-02-02 06:05] d4rken commented on #85
Hm yeah that is a problem.
The dispatcher is internal functionality, basically the ```Tracker``` is missing a setter for the timeout value.

I'll add a public method on the dev branch.

[2016-02-02 08:30] d4rken commented on #85
The dev branch now contains setters. You can build a jar from the dev branch (see docs).
The next release will likely be when #83 is done.

[2016-02-02 08:30] #85 closed

[2016-02-02 09:52] indywidualny commented on #85
`mPiwikTracker.setDispatchTimeout(30000);` works great. Thanks!

[2016-02-08 22:30] dotsbb commented on #85
@indywidualny Maybe it's too late but anyway:
Have you seen this plugin https://github.com/piwik/plugin-QueuedTracking? I believe it can be useful for You.

[2016-02-08 23:19] Shah-Sahab opened #88 "Cannot test it on a LocalHost"
Hi,

I am trying to test the sample application. Running wamp as a server on my system and using it as a local host. Already have installed piwik on wamp. Created a website: http://demo.piwik.com
And used it in my application class as:
 mPiwikTracker = getPiwik().newTracker("http://demo.piwik.com", 1);

Once application runs, I tap on different buttons in the demo app but the demo app doesnt recor

[2016-02-08 23:30] indywidualny commented on #85
Thanks. I'm just checking whether user is online. If there is network
connection I'm dispatching manually because I need only one information to
be sent. Just like I said, I'm counting app installations. The plugin is
not really necessary for me because it doesn't have to be 100% accurate. If
some data is missing that's ok. I need only most of it to know a little bit
about my users :)

pon., 8.02.

[2016-02-08 23:37] indywidualny commented on #85
Well. It's enough to just have a possibility to set timeout and I've already built a library from dev branch. The amount of data is not a problem for me. Just the timeout was the issue. Now everything is perfect. I'm dispatching manually just one thing so I wanted to make the timeout long enough to avoid missing stuff. I'm just counting app installations.

[2016-02-09 11:12] d4rken commented on #88
Check the configuration, by default the example app is in dryrun mode:
https://github.com/piwik/piwik-sdk-android/blob/master/exampleapp/src/main/java/com/piwik/demo/DemoApp.java#L37

[2016-03-17 23:01] #88 closed

[2016-03-17 23:09] d4rken opened #89 "Concurrency issue when setting custom variables"
Seems to be very rare, happened only a few times out of a few 10k events.
Writing this down so I don't forget it :).
Maybe fix this and do #69 at the same time?

[code]

[2016-03-18 16:44] dotsbb commented on #89
I would like to take care of it, if You don't mind

[2016-03-18 17:39] d4rken commented on #89
Sure :+1:, happy hacking.

[2016-03-30 09:49] bmorrisidm opened #91 "Piwik for Android SDK - Battery Usage"
Hi there,

As per this thread I am posting here

https://forum.piwik.org/t/piwik-for-android-sdk-battery-usage/18623

We've looked at this a bit more and it looks like Piwik does do dispatching, every 2 minutes we think. However the question still stands regarding battery usage and addressing the points in this article which seems to indicate app tracking is very difficult.

http://www.lunametrics

[2016-03-30 12:27] dotsbb commented on #91
The manual dispatch on minimize/close app seems to be a reasonable solution in this case.
For now I can recommend You to reduce dispatching interval: it shouldn't affect battery usage, but it wouldn't give You 100% tracking accuracy.

[2016-03-31 23:37] d4rken commented on #91
The client-side app tracking part is not computationally difficult and unless mistakes were made the impact on batterylife is neglible.

Piwik is more like Google Analytics, not Google Tag Manager.
http://stackoverflow.com/questions/23640645/what-is-the-difference-between-google-tag-manager-and-google-analytics

The impact of a few misses on ccuracy is also minor in larger products due to the volu

[2016-04-07 07:14] derek9gag opened #92 "Tracker.trackEvent should default URL to the last viewed"
Referring to
https://github.com/piwik/piwik-sdk-android/blob/master/piwik-sdk/src/main/java/org/piwik/sdk/Tracker.java#L321  and  https://github.com/piwik/piwik-sdk-android/blob/master/piwik-sdk/src/main/java/org/piwik/sdk/Tracker.java#L686

The events tracked by Tracker.trackEvent() is likely to be defaulted to "http://HOST/", since trackEvent() does not take URL as argument. This is very likely

[2016-04-07 13:17] d4rken commented on #91
Seems solved.

[2016-04-07 13:17] #91 closed

[2016-04-07 13:30] d4rken commented on #92
I see what issue you mean.
Isn't that an issue with all methods except maybe the trackScreenView ones?
We can't use the URL of the last screen as the Tracker instance might be used by multiple threads.

I would suggest to change the method(s) to require an url argument or take a  (optional?) TrackMe and then in another PR consider adding some helper class for this.

[2016-04-11 06:23] Nirmal1212 commented on #54
This can be tackled in two different ways, each has its own merits.

1. When an user opens your end application, make a call to your own server for knowing the current time or use an API from https://timezonedb.com/api . If the time set in the device is wrong, show a pop up saying the phone time is set wrongly and ask the user to update it. Whatsapp follows this method and unless the user updates

[2016-04-15 04:42] d4rken commented on #89
Fixed by @dotsbb in #90

[2016-04-15 04:42] #89 closed

[2016-04-15 04:42] d4rken commented on #69
Limit was removed by @dotsbb in #90

[2016-04-15 04:42] #69 closed

[2016-04-16 13:23] d4rken commented on #92
@dotsbb You did not start on this yet, right?

[2016-04-17 07:16] dotsbb commented on #92
I didn't start yet. Feel free to go ahead with this one.

[2016-04-17 21:55] d4rken commented on #92
Initial issue fixed by #93
Further SDK API changes in #94 to make this easier for devs in the future.

[2016-04-17 21:55] #92 closed

[2016-04-18 04:20] derek9gag commented on #92
Thank you!

[2016-05-14 22:04] d4rken commented on #64
We will do 1.0.0 without offline support for now.

I'll do 2-3 PRs this week, then I would say we release 1.0.0 officially.
My TODO
* Some small code polish
* A few additional helper methods within the TrackHelper
* Replacing the current logging mechanism with Timber

Can you think of anything else we might want to do @dotsbb ?

Offline support can still be added transparently later. I've looked i

[2016-05-15 11:31] dotsbb commented on #64
@d4rken sounds like a very good plan to me. Didn't know about Timber before. I look forward to see your draft.

[2016-05-16 13:08] d4rken commented on #64
Timber requires minApi 15 :(

[2016-05-16 14:18] d4rken opened #97 "Improve non-javadoc documentation"
We should move most of the documentation that is currently in the `README.md` to the GitHub wiki pages.

The readme should contain:
- Repo info tags (coverage,version etc)
- Small library description
- Prerequesites (Piwik server instance)
- How to add the library (gradle statement)
- Small snippet of code showing basic screen tracking
- Link to wiki page
- License

[2016-05-23 01:24] Fahadellahi opened #101 "Integration problem"
Hello,

I would like to have some help regarding integration of android sdk with my app. I am not a seasoned developer and hence trying hard to see piwik working with my app.

So my question are:
I am using my registered trial piwikpro cloud domain as a trackerurl. Am I doing it right? I have tried doing the same in my app and example app you have given in this repository. Please let me know if yo

[2016-05-23 08:06] d4rken commented on #101
For support regarding Piwik Pro Cloud, better try: https://cloud.piwik.pro/contact/

You would need to insert your tracking URL and site-id into the app code as seen here:
https://github.com/piwik/piwik-sdk-android/blob/master/exampleapp/src/main/java/com/piwik/demo/DemoApp.java
or here:
https://github.com/piwik/piwik-sdk-android#advanced

Note that the example app has `getPiwik().setDryRun(true)`

[2016-05-24 13:35] Fahadellahi commented on #101
Thanks d4rken for you reply.

I tried changing the argument getPiwik().setDryRun. It still doesn't shows anything on dashboard. Following is the git link of sample(basic) app with one button, I have tried to implement to test piwik android sdk.     https://github.com/Fahadellahi/Samplepiwikintegration1.git

The link of my piwik dashboard is  https://exampleapp1.piwik.pro
User id: fmillahi@gmail.co

[2016-05-24 14:19] d4rken commented on #101
Don't post your login data publicly.

You neither changed the dry-run setting:
https://github.com/Fahadellahi/Samplepiwikintegration1/blob/master/app/src/main/java/com/example/fahad/sunshine/MyApplication.java#L60

Nor the tracker address:
https://github.com/Fahadellahi/Samplepiwikintegration1/blob/master/app/src/main/java/com/example/fahad/sunshine/MyApplication.java#L29
Nor the site id:
https://

[2016-05-24 18:44] Fahadellahi commented on #101
oh alright, well that is just a test dashboard on a trial version of piwikpro. I just want to test the app with the same. Nevertheless, I will take care in future about the credentials.

I tried changing set.DryRun(false) but even then the tracker wasn't producing any usage data on the dashboard.

For the tracker address, I made the same one (i.e http://demo.piwik.org) in my dashboard/websites as

[2016-05-24 19:24] d4rken commented on #101
The tracker address is the server address where your piwik tracker is hosted. It is not the website or URL you are tracking.

I would guess that the tracker in your case is `http://exampleapp1.piwik.pro/piwik.php` and then the site ID would be either `1`, `5` or `7`.

When tracking the app will output something like this in the logfiles:
[code]
In this case it was still in dry run mode. Note that

[2016-05-24 23:44] Fahadellahi commented on #101
ahh thanks for correcting me. I was giving the wrong URL. The piwiksdk example from this repository is working. Furthermore, your logfiles script helped a lot to correct the code of my testapp.

Now, I can work on piwiksdk program flow in order to track my app and add more functions :+1: . Thanks alot d4rken for your quick help.

[2016-05-24 23:45] #101 closed

[2016-05-25 18:59] d4rken commented on #64
v1.0.0 has been merged into master, tagged and I've pushed v1.0.0 to bintray.

[2016-05-25 18:59] #64 closed

[2016-05-25 19:01] d4rken commented on #64
@dotsbb If you have time, can you create a release entry for v1.0.0 on Github?

[2016-05-26 07:41] itshnegg opened #105 "Can't compile with version 1.0.0"
The following error occurs when I add 'compile 'org.piwik.sdk:piwik-sdk:1.0.0' to the dependencies.

Error:Failed to resolve: com.jakewharton.timber:timber:4.1.3-20160408.041006-2

[2016-05-26 08:57] d4rken commented on #105
Thanks for the report, I'm looking into it. Will likely be fixed by #106

[2016-05-26 11:29] d4rken commented on #105
Should be resolved.

[2016-05-26 11:29] #105 closed

[2016-05-26 11:30] d4rken opened #109 "0% coverage"
Why does the coverage show 0%?

https://coveralls.io/github/piwik/piwik-sdk-android?branch=master

[2016-05-26 11:52] aegis123 opened #110 "Use Okhttp instead of HTTPUrlConnection"
A thing that bugged me was the try catch I needed when instantiating the tracker for a URL that I know to be good since I own the server. Then I started to refactor that in the end I ended up with a replacing HTTPUrlConnection with [Okhttp](http://square.github.io/okhttp/). Would you be interested in something like that.

[2016-05-26 13:06] dotsbb commented on #109
Very strange, I'll try to fix it ASAP

[2016-05-26 16:02] d4rken commented on #110
Since Android 4.4 HttpUrlConnection uses OkHttp internally already so I don't think there is a performance gain or footprint reduction. I think the piwik library would grow quite a bit due to the extra inclusion of OkHttp? Would there be any other benefits?

We could turn the exception into a runtime exception such that try catch is no longer necessary. It somewhat makes sense too because the Trac

[2016-05-26 18:46] #109 closed

[2016-05-26 19:12] d4rken commented on #109
What caused it?

[2016-05-26 20:52] dotsbb commented on #109
@d4rken new version of JaCoCo plugin which came with gradle update here https://github.com/piwik/piwik-sdk-android/pull/100/files#diff-c197962302397baf3a4cc36463dce5eaR8

[2016-05-26 21:02] d4rken commented on #109
Do you know why that new version break coverage reporting?

[2016-05-26 21:24] dotsbb commented on #109
Don't know, but this workaround is placed under "Potential breaking changes" section here https://docs.gradle.org/current/release-notes#jacoco-version-upgrade-to-0.7.6

[2016-05-27 23:34] mattab commented on #64
Awesome work on 1.0.0 release @d4rken @dotsbb :tada:

Congratulations and a big thank you from the Piwik community!

[2016-06-22 13:44] thkus opened #112 "Failed to resolve: org.piwik.sdk:piwik-sdk:1.0.1"
Hi, i included the dependency as stated in the Documentation. However gradle seems unable to resolve the dependency. I found https://github.com/piwik/piwik-sdk-android/issues/67 which seems to be a similar Issue.

Any Idea on how to resolve this?

[2016-06-22 14:30] d4rken commented on #112
In contrast to #67, the files for 1.0.1 are there though:
https://jcenter.bintray.com/org/piwik/sdk/piwik-sdk/1.0.1/
https://bintray.com/darken/maven/piwik-sdk-android/1.0.1/view#files/org/piwik/sdk/piwik-sdk/1.0.1

Did you include `jcenter()` as repository?

[2016-06-22 15:18] thkus commented on #112
Yes, that was the problem. `jcenter()` was not included as repository. Thank you!

[2016-06-22 15:18] #112 closed

[2016-08-06 12:51] MostafaDavodi opened #116 "Unable to connect local piwik"
i implement default method of demo application in my android app and use TrackHelper for sending request to local piwik , but when i see network logs i can't see my request despite when use getTracker().getAPIUrl().toString() see the correct path .

here is my sample code :

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        s

[2016-08-06 17:41] d4rken commented on #116
If you `Timber.plant(new Timber.DebugTree());` you should see piwik logging output in logcat.

Make sure you are not in dryrun mode and note that default dispatch interval is 120s.

[2016-08-07 05:05] MostafaDavodi commented on #116
good, thank you :)

[2016-08-07 10:51] d4rken commented on #116
So it works now?

[2016-08-07 19:09] MostafaDavodi commented on #116
yes, it works properly . thank you

[2016-08-07 20:24] #116 closed

[2016-08-29 19:36] thiagomaldonado opened #117 "Problems tracking pages and visitors"
0
down vote
favorite
I'm having a problem using the Piwik Android API and was wondering if one of you would be able to help me.

I used the javascript API to track one web site previously and had no problems at all. Using the Piwik console I was able to see the visited pages count normally.

Lately I had to do the same thing using the Android API. In my code, I used the Trackers like this: TrackHe

[2016-08-30 18:13] thiagomaldonado commented on #117
Sirs, I might have confused myself. It appears to be working normally.
Sorry to bother you.

thanks.

[2016-08-30 18:13] #117 closed

[2016-10-15 00:06] eldk opened #119 "API 10 - https PIWIK server - Could not validate certificate signature -"
Hello,

Using API 19, and one PIWIK Server 2.16.5 (NGINX, SSL, letsencrypt) the events are sent.

With the same server and app, API 10 device throw this exception :

have you any clue ?

Thanks,
Eric

Screen capture from info on Certificate when browsing PIWIK SSL server index page with API 10 device (https://community.letsencrypt.org/t/which-browsers-and-operating-systems-support-lets-encrypt/439

[2016-10-16 14:19] eldk commented on #119
Hello,

I have switched to OkHttp3, same result.

Thanks,

Eric

[2016-10-16 15:22] eldk commented on #119
Trying to force TLS1_2 (still with OkHttp - https://github.com/square/okhttp/wiki/HTTPS), I have this error :

So device is supporting SSLv3 and TLSv1.

Not sure that SNI is supported.

[2016-10-17 01:09] eldk commented on #119
Ok,

That's solved : the full chain cert was not in correct order. It seems to works on some devices, but not for some others.

https://community.letsencrypt.org/t/solved-not-trusted-on-mobile-maybe-error-setting-up-chain-cert/13316/8

So when check the SSL conf of your server, check that there is no "Chain issues Incorrect order, Extra certs" for example here : https://www.ssllabs.com/ssltest/ind

[2016-10-17 01:09] #119 closed

[2016-10-20 13:49] eldk opened #122 "Why is minSDK to API 10 and not API 9 ?"
Hello,

Why minSDK is to API 10 and not API 9 ?

https://github.com/piwik/piwik-sdk-android/blob/8cbc3aa41c7de82ba65ce14baefaeb043f7bd4e4/piwik-sdk/build.gradle

https://developer.android.com/about/versions/android-2.3.3.html

https://developer.android.com/sdk/api_diff/10/changes.html

Thanks,

Eric

[2016-10-20 14:35] d4rken commented on #122
API9 was completely replaced by API10, meaning, all devices that got the API9 update, also got the API10 update. There is no noticeable amount of devices still running on API9.

To keep Android code headache free a minSdk should be choosen by "go as low as you need", not by "go as low as you can".

[2016-10-20 14:54] eldk commented on #122
Ok,
as I have some users with API 9 reported, I will downgrade to api 9 in my piwik build .
Thanks

[2016-10-20 14:55] #122 closed

[2016-10-27 15:31] d4rken opened #124 "Update project to latest tool versions and API targets"
^

[2016-10-27 15:31] d4rken opened #125 "Add unit test for gzip setting"
^

[2016-10-28 15:14] #124 closed

[2016-10-31 15:57] #125 closed

[2016-10-31 15:57] #110 closed

[2016-11-03 12:48] nicolaiendios opened #133 "No tracking"
I implemented Piwik in my app just like the sample code but it doesn't track anything. Only works on iOS. Are there any known issues with the SDK that make tracking impossible at this moment?

[2016-11-03 13:34] eldk commented on #133
Hello,

I use it since a few weeks, no problem.

Eric

[2016-11-07 15:48] nicolaiendios commented on #133
Hey Eric!

Thanks for the reply.
The SDK is not giving me any Logs at all. Should I be getting them automatically or do I have to turn it on?

Thanks
Nicolai

[2016-11-07 18:46] eldk commented on #133
Hello,

Have a look here : https://github.com/piwik/piwik-sdk-android#debugging

And here :  https://github.com/piwik/piwik-sdk-android/blob/master/exampleapp/src/main/java/com/piwik/demo/DemoApp.java#L37

Without forget this : https://github.com/piwik/piwik-sdk-android/blob/master/exampleapp/src/main/java/com/piwik/demo/DemoApp.java#L16

When logs will be enable things should be clearer.

Thanks,

[2016-11-08 13:14] nicolaiendios commented on #133
Thanks a lot Eric!

I will try it out and hopefully find my bug.

Cheers
Nicolai

[2016-11-09 10:41] Riedi2070 opened #134 "Handle search events"
Dear guys,

I'm using this library to creating analytics for my android app. It's a greate project, but I'm missing some little features or I have just not found them yet.

I would like track search events. In php I can do it with the function `doTrackSiteSearch($searchValue, $searchCat, $resultCounts)` but in this Android SDK I missing this or a similar function.
Also I haven't found a function,

[2016-11-09 10:51] d4rken commented on #134
The `TrackHelper` class currently has no helper functions for site search.

You can create custom requests by creating a `TrackMe` object (from scratch or prebuild through `TrackHelper`), set/modify query paramters on it, and then submit that to the `Tracker`.

[2016-11-09 14:44] Systemreiniger092016 commented on #92
I'm not professionell, only user.
Ich wrote a short Info few month ago on my notice App. May it is important for better working by  back up this App :
---------------- SD Maid ------------------
System Toybox/Burybox install.

Question: Please help me which file i need to open for back up my Android 6.0.1 Samsung Galaxy S6 Edge.
Thank you so much withe nice greets  ...
Mike

[2016-11-12 12:37] mattab commented on #16
Hello guys, FYI: we are also implementing Offline mode for the official Piwik JS Tracker code (in https://github.com/piwik/piwik/issues/9939). So far we make it super simple and you can see the idea here: https://github.com/piwik/piwik/compare/2.x-dev...offlinetracker?expand=1
Developer would do
[code]

(Just FYI in case we could maybe reuse same method name or similar. Fun to see that we are sync

[2016-11-12 13:46] d4rken commented on #16
Not sure yet about which approach to take.

Manually settings online/offline mode really is a simple approach, but i think the sdk should provide this on Android. Alternatively reacting only to successful/failed communication with Piwik would also allow clients to cache data in cases where the issue is on the server side. But permanent issues due to code errors would just max out the cache.... May

[2016-11-24 16:38] #134 closed

[2016-11-29 06:09] kamranr123 opened #137 "i get Value not defined in Custom Dimension"
Hi

i used custom Custom Dimensions in my app. but in server for a single Custom Dimensions, i get 'Value not defined' exactly equal to all of the unrelated actions that tracked. Based on documentation for Custom Dimensions "By default a report for a Custom Dimension in scope “Action” will show values across all kinds of actions (page views, events, content tracking, downloads, etc.)"
what can I d

[2016-11-29 12:27] dotsbb commented on #137
@kamranr123 probably this bug caused by plugin, not SDK itself. Please see https://github.com/piwik/plugin-CustomDimensions/issues/32.

[2016-11-29 12:30] #137 closed

[2016-12-02 08:59] santimendon opened #138 "Custom variable value in table overwrites when a new event is logged."
Say I have 3 custom variables A,B and C.
Currently:
-When first event is logged:
Table adds a row valA, valB, valC

-When second event with the same user is logged with a new value for param B
Table is updating same row with valA, new valB, valC

Required:
Table should add a new row with valA, new valB, valC

Is it possible with tracker method to set a scope where a new row gets created for a new

[2016-12-02 13:52] dotsbb commented on #138
@santimendon You're using visit scoped custom variables. Please consider [this one](https://github.com/piwik/piwik-sdk-android/blob/138f8deb9b11308f3a18aa495f05bb57d05c5ec7/piwik-sdk/src/main/java/org/piwik/sdk/TrackHelper.java#L109-L115) instead.

[2016-12-04 22:22] #133 closed

[2016-12-06 02:47] mattab opened #139 "FYI: Piwik Tracking API now allows data up to 24 hours in the past"
Dear SDK maintainer & SDK users,

Here is a quick notice regarding an important Tracking API improvement in Piwik 3: it is now possible to store data in the past up to 24 hours in the past. In Piwik 2, only data up to 4 hours could be stored in the past. This should hopefully help build a more useful offline tracking mechanism in #16. This core improvement was done in: https://github.com/piwik/piw

[2016-12-06 02:53] mattab commented on #16
Hi @d4rken
Hope you are well :-)

To answer a few points:
* In #139 we're announcing that Tracking API now accepts up to 24 hours in the past (the value is also configurable in the Piwik config.ini.php file)
* the order of requests does matter **for a given device**: Piwik Tracking API needs to receive requests in the right chronological order for a given user / visit, but it's OK if requests from

[2016-12-06 03:48] d4rken commented on #16
Even if the `cdt` parameter is set? What happens if they are out of order? Are they just discarded?

[2016-12-14 14:51] croniserb opened #140 "compile source for local maven repository"
For our development project, I am required to gather all third party source and build them.  Then host them on an internal maven repository for CM requirements.  I have built the jar file successfully and deployed it to the maven repository.  The issue is the timber dependency of piwik.  My project is crashing at run time due to the dependency.  The project compiles without errors. I have tried to

[2016-12-14 23:05] dotsbb commented on #140
I can see error `java.lang.ClassNotFoundException: Didn't find class "timber.log.Timber"`
@croniserb could you try to add `compile 'com.jakewharton.timber:timber:4.1.2'` or similar?

[2016-12-15 12:34] croniserb commented on #140
@dotsbb I tried https://github.com/JakeWharton/timber/releases the 4.1.2.  I have tried both the aar and the jar as I have done with piwik.  I have even tried to put them in a local libs directory instead of maven.  I still am getting the error that is attached.  It seems like the piwik dependency is not being picked up when I attempt to use it locally.  Thanks.

[2017-01-06 14:11] d4rken commented on #139
#141 and also accounted for in #136

[2017-01-06 14:11] #139 closed

[2017-01-06 14:16] d4rken commented on #138
@santimendon I'm not sure what you are trying to achieve. Do you want to assign a new variable to the same slot, if so please consult the Piwik documentation, this would not be related to the Android SDK.

If you are looking for code that automatically increases the custom variable count, if new data is presented, then this doesn't exist. I'm also now sure how it would work because the amount of a

[2017-01-06 14:16] #138 closed

[2017-01-06 14:17] d4rken commented on #140
@croniserb If this is no longer a current topic, please close it. Preferably add your solutation if you solved it.

[2017-01-24 23:44] #16 closed

[2017-01-24 23:44] d4rken commented on #140
Stale.

[2017-01-24 23:44] #140 closed

[2017-02-05 20:56] d4rken opened #149 "Opt-out should clear queue and cache"
When doing `setOptOut(true)` the following should happen:

* Opt out flag blocks new `Tracker.track(...)`
* `Dispatcher` cache is emptied
* `Dispatcher` queue is emptied
* `Dispatcher` should exit it's loop gracefully

For some more details see @eldk's and my comments in #145  and #147

[2017-02-06 20:37] d4rken opened #150 "Explicit termination method 'end' not called"
Originates from [`int statusCode = urlConnection.getResponseCode();`](https://github.com/piwik/piwik-sdk-android/blob/master/piwik-sdk/src/main/java/org/piwik/sdk/dispatcher/Dispatcher.java#L219).

(line numbers from Dispatcher are not accurate in the stacktrace)

[code]

Only visible with:
[code]

First thought internal Android bug, but the same happens when using `okhttp:3.6.0`. Google fu shows

[2017-02-08 20:28] ntimo opened #151 "Material design side menu"
Hello,
I wanted to ask you if you add some more material design too the app. So for example you could add a material design menu bar or a material design header bar.

That would be so so awesome and make the app not look so dated,
Timo

[2017-02-08 20:29] #151 closed

[2017-02-10 04:00] d4rken opened #152 "Improve device detection, manually build user agent."
19% of my traffic is listed as "Unknown device", while some of it is just failing detection (trying to improve that with https://github.com/piwik/device-detector/issues/5576), most of it because of bad data:

[code]

While most others look like:

[code]

Currently we just read the system property `http.agent`, but we could create this user agent.
We can look up the dalvik version (even though it's

[2017-02-12 16:43] d4rken commented on #152
Done for 2.0 rework.

[2017-02-12 16:43] #152 closed

[2017-02-13 09:46] d4rken commented on #149
Implemented in the 2.0 branch.

[2017-02-13 09:46] #149 closed

[2017-02-23 17:41] d4rken opened #154 "2.0 Release?"
What's left to do?

- [x] #150
- [x] #97
- [x] Check testing coverage and test saneness
- [x] Integrate 2.0 into a few more projects to spot usage issues?

I've deployed the 2.0 branch in my app to production and spotted no crash or anomalies in stats.

@eldk Any report on how it works for you?

[2017-03-08 13:28] aegis123 commented on #150
I also seem to get it on [BufferedWriter writer = new BufferedWriter(new OutputStreamWriter(urlConnection.getOutputStream(), "UTF-8"));](https://github.com/piwik/piwik-sdk-android/blob/master/piwik-sdk/src/main/java/org/piwik/sdk/dispatcher/Dispatcher.java#L210)

[code]

[2017-03-08 15:02] d4rken commented on #150
@aegis123 always? or randomly? What Android version?

[2017-03-08 16:01] aegis123 commented on #150
Im running 7.1.1 on a nexus 5x and it seems randomly.

[2017-03-08 16:15] d4rken commented on #150
Seeing it too on 7.1.1, just on 7+.

I just noticed that we should close the stream in a `finally`, depending on where an exception happens we might not close it. From my logs though, there was no exception before this strictmode warning, so I don't think this is the issue.

[2017-03-10 14:47] d4rken commented on #150
`HttpURLConnection.getResponseCode()` opens another stream which we didn't close and if an exception happens, we didn't close the gzip stream either.
So this should now be fixed.

[2017-03-10 14:47] #150 closed

[2017-03-20 17:52] d4rken commented on #97
Done.

[2017-03-20 17:52] #97 closed

[2017-03-20 17:57] d4rken commented on #154
Updated the README and the wiki, so that part is ready for 2.0.

Had one more thought. Need to change the `Tracker` init to use a `TrackerConfig` so we can extend this without breaking the API in the future.

In anycase there doesn't seem to much activity... Did anyone do anymore testing or code review?

I'll do one more app integration, go on holiday and when I'm back, if there is no opposition,

[2017-03-20 21:26] dotsbb commented on #154
I'm not testing 2.0 branch anymore.

Sure thing

[2017-04-15 12:13] d4rken commented on #154
I merged and released it.

[2017-04-15 12:13] #154 closed

[2017-04-15 12:14] d4rken commented on #154
Maybe someone can fluff up the release notes? Link to tickets that were closed?

[2017-04-15 16:04] mattab commented on #154
:tada:  Well done @d4rken  :tada:

FYI using our Github Changelog Generator tool here is the generated changelog of closed issues since July 26th 2016:

piwik/piwik-sdk-android
#16 Offline mode missing [by @d4rken, @n8fr8]
#110 Use Okhttp instead of HTTPUrlConnection [by @d4rken]
#116 Unable to connect local piwik
#117 Problems tracking pages and visitors
#118 "Typo" in readme.md [by @eldk, @d4rke

[2017-05-08 12:12] PattaFeuFeu opened #161 "Update guide from v1.0.2 to v2.0 of the SDK"
Is there any resource that guides through the changes that occurred during the version upgrade from v1 to v2 of the SDK?
Changes like “TrackHelper can now be found under sdk.extra instead of sdk”, “Instead of ‘setOptOut’, please use XY now”, and so on?

[2017-05-08 12:16] d4rken commented on #161
Unfortunately not.

Could write one and we'll add it to the wiki?

[2017-05-08 12:20] PattaFeuFeu commented on #161
At the moment, I don’t have the time to write an article on that matter. But I could write down a few lines underneath this ticket with findings I obtained along the way while updating from 1.0.2 to 2.0.

[2017-05-08 12:26] PattaFeuFeu commented on #161
# Update guide 1.0 --> 2.0

## Gradle

Update from

`compile 'org.piwik.sdk:piwik-sdk:1.0.2'`

to

`compile 'org.piwik.sdk:piwik-sdk:2.0.0'`

## Classes that moved

### TrackHelper

TrackHelper moved from `org.piwik.sdk` to `org.piwik.sdk.extra` --- the new fully qualified name therefore becomes `org.piwik.sdk.extra.TrackHelper`

## Methods that changed

### CustomVariables

_See https://github.co

[2017-05-08 12:33] PattaFeuFeu commented on #161
What happened to `setDryrun(boolean)`? I cannot seem to find it.

[2017-05-08 12:36] d4rken commented on #161
The dev now supplies their own list datastructure that the packets during dryrun will be placed into.

https://github.com/piwik/piwik-sdk-android/blob/master/piwik-sdk/src/main/java/org/piwik/sdk/Tracker.java#L542

https://github.com/piwik/piwik-sdk-android/blob/master/piwik-sdk/src/main/java/org/piwik/sdk/dispatcher/Dispatcher.java#L214

[2017-05-08 14:34] PattaFeuFeu commented on #161
I updated my “wiki” comment with all changes I found when updating my codebase. Feel free to add additional pieces of information and also to add my findings to the wiki.

[2017-05-08 16:18] d4rken commented on #161
Awesome!

https://github.com/piwik/piwik-sdk-android/wiki/Migration

[2017-05-08 16:18] #161 closed

[2017-05-15 10:38] mico81 opened #162 "setUserId does not work"
Hello,

I have an issue for adding an UserId to the Piwik Tracker.
I don't want to use the User IP because I want to see unique visitor stats on a month, but a same user can use different IP along the month. That's why I want to set an Unique UUID, that I generate and save on the first launch of the application.

That's my code when I declare the piwik tracker.

`piwikTracker = Piwik.getInstance(t

[2017-05-15 11:16] d4rken commented on #162
Piwik already does that by default, see  [here](https://github.com/piwik/piwik-sdk-android/blob/master/piwik-sdk/src/main/java/org/piwik/sdk/Tracker.java#L100)

I don't know what the "session information panel" is, do you mean "visitors in real-time"?

[2017-05-15 11:43] mico81 commented on #162
Sorry, yeah I mean that. So why can't I see Unique visitors for a month ? I mean, for now, unique visitors are working when I check for a day. But for a month, I get wrong value : for exemple, I have 27 visitor in Monday, and 27 in Tuesday (they are the same), if i want to get the unique visitors for those two days, piwik return me 54 (he's adding each daily total).

[2017-05-15 11:54] d4rken commented on #162
The real time visitor display just shows entries by time.

Your UUID should be visible in each entry, if you click the UUID you should see all visits from that user.

![snip](https://cloud.githubusercontent.com/assets/1439229/26056371/5a847c9e-3975-11e7-9639-85e5732a1d0e.PNG)

The unique visitors should be visible in the "Visitor Overview" panel:

![visits](https://cloud.githubusercontent.com/asse

[2017-05-15 12:13] mico81 commented on #162
Yes I see that, but Piwik still create new id while I didn't uninstall my application (uuid is present in preferences), so my phone appears for exemple in 2 uniques visitors in two days, or when I change my IP address. Then, when I attribute my own UUID, Piwik still send his own.

Is it a client side configuration ?

[2017-05-15 13:08] d4rken commented on #162
If you remove your custom userId code, does this still happen?
Does it only happen after a day? For it to be a bug in the Android SDK it
should happen on he same day too.

Can you create a sample reproducing this?

Am 15.05.2017 14:13 schrieb "mico81" <notifications@github.com>:

Yes I see that, but Piwik still create new id while I didn't uninstall my
application (uuid is present in preferences),

[2017-05-15 14:41] mico81 commented on #162
Yeah, I added the setUserId because it still happen without it. Here is an exemple where I launched the app 2 times, and I appear 3 times in piwik as you can see. The first time I was on my wifi, the second time I disabled it for using my mobile network (4G), so the ip address change.

![image](https://cloud.githubusercontent.com/assets/5813907/26063018/f774b7be-398c-11e7-95e0-28f363ee91ba.png)

A

[2017-05-15 15:07] aegis123 opened #163 "TrackerHelp.BaseEvent build method returns null"
When using the `TrackerHelper` to build Events the build method is annotated with `@Nullable`. This is a bit weird since you are using a the builder pattern to create null objects which should not be possible.

The proper way would be to throw an exception at either the setter or in the build method to notify the developer he is creating build an object with an inconsistent state. Also Proper usag

[2017-05-15 18:15] d4rken commented on #162
Can't reproduce this.

Screenshot is from the demo app.

![asd](https://cloud.githubusercontent.com/assets/1439229/26072232/159d5624-39ab-11e7-88b2-43a5f4dd0eaf.PNG)

[2017-05-15 18:47] d4rken commented on #163
Something like #164 ?

The idea behind requiring null checks was that if the developer null checks these events, there would be less of a chance that unexpected tracking input crashes the app.

I agree with you though that this is counter intuitive to the builder pattern.

I'm not sure yet whether checking within the setters/constructors or in the `build()` call is the right move. Within `build()`

[2017-05-17 08:11] diana-doss opened #165 "not able to give Custom path while Tracking the pages"
I am trying to track a screen with piwik as below

` TrackHelper.track().screen("/global/").title("Home Screen").with(androidTracker);`

but when we see it on dashboard we are able to see the package name by default and then our path appended next to it.

Please find the screen shot below
<img width="544" alt="screen shot 2017-05-17 at 1 37 11 pm" src="https://cloud.githubusercontent.com/assets/25

[2017-05-17 08:42] dotsbb commented on #165
@diana-doss You could use [`setApplicationDomain`](https://github.com/piwik/piwik-sdk-android/blob/master/piwik-sdk/src/main/java/org/piwik/sdk/Tracker.java#L367-L377) method in order to customise visible domain name.

[2017-05-17 13:01] #165 closed

[2017-05-22 14:22] mico81 commented on #162
Hum that's weird...
This is what I do :
`TrackHelper.track().event("application", "lifecycle").name("started").with(getTracker());
        getTracker().dispatch();`

The first time when `getTracker()` is called :
`piwikTracker = Piwik.getInstance(this).newTracker(new TrackerConfig("http://www.backofficemymemoc.com/piwik/piwik.php", 1, "tracker"));`

Then I return `piwikTracker`

After that, I just

[2017-05-22 14:45] d4rken commented on #162
Check with the debugger or log output what the user id is: `tracker.getUserId()`

[2017-05-23 07:04] mico81 commented on #162
I set my ID when the tracker is created. When I use this tracker, the user ID is correct. I allready check it.

[2017-05-24 13:16] roorey opened #166 "please help me to use the piwik"
I use wampService set a Local Service. In MyApplication(extends PiwikApplication),i want to use the TrackerConfig.createDefault("url",3); but i don`t kunow the url ,please tell me about the content of url.thank you very much!

[2017-05-25 00:26] d4rken commented on #166
The `url` is the address of your piwik server. For more details regarding Piwik server setup check here: https://piwik.org/docs/installation/

[2017-05-25 02:16] roorey commented on #166
OK , I got it ,And succeed  Thank you .

[2017-05-25 10:28] #166 closed

[2017-05-26 12:33] Malcom100 opened #167 "Can I track several time my views ?"
Hello,

I have a little problem but maybe it is normal. I will to try explain to you with an example:
user goes to view A -> view B -> view C : three views are tracked
when user back to view B and view A : these view are not tracked

Is it normal the view can't be tracked several time ?

Thanks in advence for your answer

[2017-05-26 23:07] d4rken commented on #167
Sounds like you are tracking in something like `Fragment.onCreate` which doesn't get called a second time because the existing Fragment is reused.

[2017-06-01 07:14] Malcom100 commented on #167
Alrigth I understood, so it is better to use it in onViewCreated method ! I will check it.
Thanks

[2017-06-01 08:24] #167 closed

[2017-06-15 18:59] d4rken commented on #162
Closing due to inactivity and can't reproduce.

[2017-06-15 18:59] #162 closed

[2017-06-27 15:57] dipendrapkrl opened #169 "Cannot provide custom dispatcher"
First of all, thank you very much for this open source gem.
So, I was trying to use my own dispatcher and then I realized that I cannot do it.
Looking at the source of `Piwik` class; it is singleton class which means that I cannot subclass it(it has private constructor).
But the method `getDispatcherFactory()` in the same class is `protected` probably meant to be exposed to the subclass.
Doesn't t

[2017-06-27 16:49] d4rken commented on #163
Changed in #164.

[2017-06-27 16:49] #163 closed

[2017-06-27 16:58] d4rken commented on #169
There was no intention to allow custom dispatchers. The `DispatcherFactory` was introduced to improve unit testing.

It wouldn't be out of this projects scope to allow custom dispatchers though. Probably not via subclassing `Piwik` but rather by providing a default dispatcher and a `setDispatcherFactory`. Need to also decide on an API for that and change `Dispatcher` to an interface.

What's your

[2017-06-27 17:04] dipendrapkrl commented on #169
Yes. the Setter for DispatcherFactory would be nice. I want the traffic to go through my own okhttp client which is the reason I am looking for custom DispatcherFactory.

[2017-06-27 17:08] d4rken commented on #169
What advantage does using your own okhttp client have?

[2017-06-27 17:13] dipendrapkrl commented on #169
Since I am using okhttp to route all the traffic that generates from my app, I would prefer this library also allow me to do so with some work but without a fork. The requirement for me is that the server that I am sending metrics expects auth tokens in the header of the request. I dont see how I can do so without my own dispatcher.

[2017-06-27 17:16] d4rken commented on #169
That's a good use case. I'll look into making this possible.

[2017-06-27 17:17] dipendrapkrl commented on #169
Thank you very much.

[2017-07-06 19:28] DavidBcn commented on #169
it is important to distinguish metrics requests with low priority from other important request that the application needs to work. Having custom dispatch makes sense to allow any application to extend in any way.

[2017-08-02 12:55] WG-C opened #170 "Why you attack Chinese ? does your mother or father or grandfather fucked by 1.5 Billion Chinese People"
Why you attack Chinese ? does your mother or father or grandfather  fucked by 1.5 Billion Chinese People

[2017-08-02 12:56] #170 closed

[2017-08-24 11:35] d4rken commented on #169
Please see #172, does that suffice for your use case @dipendrapkrl ?

[2017-08-25 06:44] d4rken opened #173 "Fix flaky unit test"
See

https://travis-ci.org/piwik/piwik-sdk-android/builds/267940216?

[2017-08-28 20:58] dipendrapkrl commented on #169
Thanks @d4rken. This totally helps providing custom dispatcher for my use case. Also since Piwik SDK auto appends to the provided URL(appends piwik.php), it would be great if `Packet.getTargetURL()` would be `public` instead of `protected`. This is required because we want to know where to send the data by the custom dispatcher. Right now I am using reflection to set custom dispatcher and to get t

[2017-08-31 11:41] d4rken commented on #173
Fixed in #172

[2017-08-31 11:41] #173 closed

[2017-08-31 11:43] d4rken opened #174 "Improve dispatch behavior when firewalled"
e.g. Nexus9 with AFWall+

[code]

Should do an exponential backoff with an upper limit. Retrying quickly is wasting resources.

[2017-10-08 09:50] HaDiSs277 opened #175 "Expectations have not been met"
Hi, i read in your site about [how use piwik for tack mobile app activities](https://piwik.org/blog/2012/04/how-to-use-piwik-to-track-mobile-apps-activity-clicks-phones-errors-etc/)
How to track all of things that you said? like these
"how long users spend in the app,"
"how often is the app opened? When and how long is the app opened?"
How can i see them in panel? or how can i track them?
And my o

[2017-10-08 13:33] d4rken commented on #175
I would recommend checking out the example app: https://github.com/piwik/piwik-sdk-android/tree/master/exampleapp

Possibly due to anonymized IPs or incomplete geographic data for matching the IPs.

[2017-10-09 07:45] HaDiSs277 commented on #175
At first i had made my project equal to your sample.
In pannel i dont know where shows "how long users spend in the app" and" "how offen is the app opened? when and how long is the app opened?"

[2017-10-22 05:55] HaDiSs277 commented on #175
Why you don't answer my question?

[2017-10-22 11:20] d4rken commented on #175
This is basically the session duration.

This would be the visit count also session durations.

Those metrics are tracked automatically by Piwik if you do screen tracking in your app.

In the Android SDK, a session lasts as long as the `Tracker` instance exists, so normally for the duration the app is alive (e.g. in memory).

This is done by https://github.com/piwik/piwik, not the Android SDK.

[2017-10-22 11:20] d4rken commented on #175
Feel free to submit a pull request if you feel something could be improved.

[2017-10-22 11:20] #175 closed

[2017-11-01 03:55] mattab opened #176 "Mention all available features of the SDK in the README"
It would be great to help users discover the power of the Android SDK if all features were listed, eg. in a bullet point list, in the README. For example "Tracking of events that occurred while user was offline." and all other "basic" and any other non obvious feature. Will help get more users excited and realise the power of the project :+1:

[2017-11-17 09:49] d4rken commented on #169
I think this was implemented in #172

[2017-11-17 09:49] #169 closed

[2017-11-26 10:59] #174 closed

[2017-11-26 13:01] d4rken opened #179 "3.0.0 release"
Should we do a release 3.0.0 release with the current dev branch? I'm out of changes I wanted to apply and there are no more tickets we can address. We piled up quite the changes since the last release (`2.0.0`).

- [x] Update README.md
- [x] Make a changelog for the release notes.
- [x] Explain behavior changes, basically go through PRs and collect what lib users should be aware of.
- [x] Tag fin

[2017-12-13 13:06] d4rken opened #180 "Crash if SSL unavailable"
* NVIDIA BP 1@ 4.4.4
* Build KTU84Q PrivatOS 1.1.17

[code]

[2017-12-13 13:07] d4rken commented on #180
`implementation 'org.piwik.sdk:piwik-sdk:2.0.0'`

[2017-12-13 16:35] d4rken commented on #180
Nvm, already fixed in `dev`.

https://github.com/piwik/piwik-sdk-android/blob/dev/piwik-sdk/src/main/java/org/piwik/sdk/dispatcher/DefaultPacketSender.java#L57

[2017-12-13 16:35] #180 closed

[2017-12-13 20:20] #179 closed

[2017-12-13 20:50] d4rken commented on #176
@mattab  I've updated the README with a feature list. If you think that it's sufficient, please close the ticket.

I think the github repo short description could be better too but I can't edit that.

Out of curiousity why is this repo BSD-3, Piwik GPL-3 and the iOS app MIT? Seems so chaotic.

[2017-12-15 03:54] mattab commented on #176
Looks great @d4rken thanks for the update!

Piwik is GPL-3 (Freedom Software). But our SDKs (iOS, Android, PHP SDK, C#, Java, etc.) cannot be GPL-3 as it does not work for a library (or it would force users of the library to be under GPL as well). BSD-3 clause is the new standard for our library, almost all of them should use it already, except iOS SDK, Created an issue here to request/suggest to

[2017-12-15 03:54] #176 closed

[2017-12-26 03:43] fetchingly opened #184 "there is no logs for release apk"
the piwik service has no data  for the release APK,but debug APK has

[2017-12-26 07:22] d4rken commented on #184
I don't know what you mean by that.

[2017-12-27 06:41] d4rken commented on #184
We use `Timber` for logging, see:
https://github.com/JakeWharton/timber

Logging example:
https://github.com/piwik/piwik-sdk-android/blob/c081b54efb5048caa3636fe3a06c0726ff991a73/exampleapp/src/main/java/com/piwik/demo/DemoApp.java#L39

[2018-01-23 11:03] d4rken opened #191 "`Piwik` -> `Matomo`"
- [ ] Rename repo
- [ ] New major version as changing the packagename breaks existing imports
- [ ] Change packagename
- [ ] Change class names
- [ ] Search comments and tests for mentions of `Piwik`
- [ ] Update documentation
- [ ] Migrate jenkins
- [ ] Create new upload to bintray (keep old one to not break anything existing)
- [ ] Migrate coverage service

[2018-01-23 11:04] d4rken commented on #191
Did I forget anything?

[2018-01-24 05:46] bhardwajvinay4 opened #192 "Piwik Android sdk - why custom variables are deprecated? can we still use them?"
Piwik Android sdk - why custom variables are deprecated? can we still use them?

[2018-01-24 07:24] d4rken commented on #192
https://matomo.org/faq/general/faq_21117/

[2018-01-24 07:25] d4rken commented on #192
Yes you can still use them, but if you are starting from scratch is recommended to use custom dimensions.

[2018-01-24 07:58] bhardwajvinay4 commented on #192
Thanks Matthias.

[2018-01-24 07:58] #192 closed

[2018-01-29 11:17] PattaFeuFeu commented on #184
@d4rken By switching from `compile` to `implementation` for Timber—as opposed to using `api`—, Timber no longer gets included as a library that can be used by consumers of the SDK. So not even the DemoApp would work. Are you planning on changing that or should I import Timber in addition to the SDK in order to be able to use the `Timber.plant(new Timber.DebugTree());` statement?

[2018-01-29 11:39] d4rken commented on #184
I'm not sure yet, I think a case could be made for both.

In any case it doesn't hurt if you manually include it for the time being.

[2018-02-06 08:40] amiralichesser3 opened #193 "Failed resolution of: Ltimber/log/Timber"
I cant seem to be able to resolve Timber

[2018-02-06 11:35] d4rken commented on #193
Add `implementation 'com.jakewharton.timber:timber:4.6.0'` to your `build.gradle`

#184

[2018-02-06 11:35] #193 closed

[2018-02-20 04:02] koteswaradk opened #194 "PIWIK in my android app its not working"
i am trying to implement PIWIK in my android app its not working. can any one let me know how can i use this.
is i am done any wrong implementation. i am referring this link:https://www.diycode.cc/projects/piwik/piwik-sdk-android

[2018-02-20 08:17] d4rken commented on #194
Provide more information. "its not working" is a pretty shitty error description.

Try using the latest version and have a look at the example app.

[2018-02-20 09:31] koteswaradk commented on #194
Here is what i done in my project.
public class MyApplication extends Application {
    private Tracker mPiwikTracker;

    public synchronized Tracker getTracker() {
        if (mPiwikTracker != null) {
            return mPiwikTracker;
        }

        try {
            mPiwikTracker = Piwik.getInstance(this).newTracker("https://mydomain.net/myapp", 30);
        } catch (MalformedURLException

[2018-02-20 10:53] d4rken commented on #194
Enable logging and check the logfile on your Android device whether the data is getting transmitted.

Note that there is a delay unless you force the transmission to happen directly.

[2018-02-20 10:55] koteswaradk commented on #194
boss i am new to this i have added log but it is not giving any error.

On Tue, Feb 20, 2018 at 4:23 PM, Matthias Urhahn <notifications@github.com>
wrote:

[2018-02-21 05:20] koteswaradk commented on #194
how can i check that data is transmitting. please help

[2018-02-21 07:59] koteswaradk commented on #194
hi any one please help me in my problem

[2018-02-21 10:30] koteswaradk commented on #184
if any one implemented PIWIk for android app please help here. i am not able to implement as there is no any errors but not showing  tracking data in y portal

[2018-02-21 16:32] d4rken commented on #194
You can enable logging by including timber in your project:
https://github.com/JakeWharton/timber

The library will then start printing debug information into logcat.

You could also set breakpoints inside library code to see at which point you are stuck.

Btw: Don't spam.

[2018-02-22 03:00] koteswaradk commented on #194
if i am using Web view and if i hit the link then results are showing. through the library of android is not working if i use the sample code also its not working.

[2018-02-22 04:27] koteswaradk commented on #194
i am getting this error DefaultPacketSender: status code 404

[2018-02-22 04:30] koteswaradk commented on #194
i am getting this error is the problem with page or where do i need to fix it
D/PIWIK:Tracker: Event added to the queue: org.piwik.sdk.TrackMe@903bdb5
 D/PIWIK:EventDiskCache: Cache check took 0ms
D/PIWIK:EventDiskCache: Uncaching of 0 events took 0ms
D/PIWIK:EventCache: Switched state to ONLINE, uncached 0 events from disk.
 D/PIWIK:Dispatcher: Drained 1 events.
 D/PIWIK:DefaultPacketSender: stat

[2018-02-22 06:46] koteswaradk commented on #194
Event added to the queue: org.piwik.sdk.TrackMe@f9ea4b3
 D/PIWIK:EventDiskCache: Cache check took 0ms
 D/PIWIK:EventDiskCache: Uncaching of 0 events took 0ms
 D/PIWIK:EventCache: Switched state to ONLINE, uncached 0 events from disk.
 D/PIWIK:Dispatcher: Drained 1 events.
 D/PIWIK:DefaultPacketSender: status code 400
 D/PIWIK:Dispatcher: Unsuccesful assuming OFFLINE, requeuing events.

[2018-02-22 09:40] d4rken commented on #194
Is your tracker URL correct?

[2018-02-22 09:41] koteswaradk commented on #194
yes

[2018-02-22 09:42] koteswaradk commented on #194
yes https:jdi.xxxxx.net/piwik

[2018-02-22 09:42] koteswaradk commented on #194
do i need to add any other url

[2018-02-22 09:43] koteswaradk commented on #194
some time it gives 02-22 15:12:43.276 18291-18708/com.juniper.loading.piwikexample D/PIWIK:EventCache: Switched state to ONLINE, uncached 0 events from disk.
 D/PIWIK:Dispatcher: Drained 1 events.
 D/PIWIK:DefaultPacketSender: status code 204
D/PIWIK:Dispatcher: Dispatched 1 events.
 D/PIWIK:EventDiskCache: Cache check took 0ms

[2018-02-22 09:45] koteswaradk commented on #194
yes

On Thu, Feb 22, 2018 at 3:10 PM, Matthias Urhahn <notifications@github.com>
wrote:

[2018-02-22 10:31] koteswaradk commented on #194
now it is giving me 204 error

[2018-03-12 05:53] NishantJiffle commented on #194
@koteswaradk I'm also facing the same problem. Did you get any solution?

[2018-03-16 19:25] d4rken opened #195 "Update example app README"
The example app `README.md` is out of date.
https://github.com/matomo-org/piwik-sdk-android/blob/v3.0.0/exampleapp/README.md

[2018-03-16 19:38] d4rken opened #196 "DexArchiveBuilderException"
[code]

[The library is build with:](
https://github.com/matomo-org/piwik-sdk-android/blob/v3.0.0/piwik-sdk/build.gradle#L19)

[code]

if your app is not build with these options, the above exception can show, add it to your modules `build.gradle` file to fix this (and enjoy all the features that come with `JavaVersion.VERSION_1_8`).

[2018-03-16 19:38] #196 closed, assigned to nobody

[2018-03-27 08:14] huangliqiang opened #197 "okhttp writeByte ArrayIndexOutOfBoundsException: length=8192"
i use org.piwik.sdk:piwik-sdk:2.0.0 has this cash log ::
cash with org.piwik.sdk.dispatcher.Dispatcher.dispatch

[code]

[2018-03-28 10:01] d4rken commented on #197
Does it also occur with the latest version?

The exception itself is not a piwik issue, but it should not crash the library. Did it crash the library?
I can't tell from your stacktrace where the exception originates, as there are no line numbers for the library.

[2018-04-08 08:06] huangliqiang commented on #197
i wan to use the 2.0library
the exception at org.piwik.sdk.dispatcher.Dispatcher.dispatch(Dispatcher.java)
if you try catch(ArrayIndexOutOfBoundsException) at Dispatcher.java 253line ,  will useful?

[2018-04-08 08:06] huangliqiang commented on #197
@d4rken i wan to use the 2.0library
the exception at org.piwik.sdk.dispatcher.Dispatcher.dispatch(Dispatcher.java)
if you try catch(ArrayIndexOutOfBoundsException) at Dispatcher.java 253line , will useful?

[2018-04-08 17:07] d4rken commented on #194
Closing due to inactivity.

[2018-04-08 17:07] #194 closed

[2018-04-08 17:11] d4rken commented on #197
Why do yo not want to use `v3.0`?

There will be no extra releases for `v2.X`, but you are of course free to fork the repo and make the changes yourself.

The error itself is likely a bug in an older version of okhttp that has been packaged with Android itself:

https://github.com/square/okhttp/issues/3194
https://github.com/square/okhttp/issues/1776

This is still interesting to fix for `v3.X`. T

[2018-04-09 01:41] huangliqiang commented on #197
@d4rken  Thank you for your answer。
 i donot wan to use v3.0 because this version neet to update Android studio 3.0,  but i wan to use Android studio 2.2.3.  and i think v3.0 also has the exception， the two versions are very different.

This problem has affected my releases APK operation. if this :  [mozilla-mobile/telemetry-android@37bff7d](url)  suggestion is useful， can you update this code for

[2018-04-09 11:18] d4rken commented on #197
The issue is not present on `v3.0` due to the wider catch:
https://github.com/matomo-org/piwik-sdk-android/blob/master/piwik-sdk/src/main/java/org/piwik/sdk/dispatcher/DefaultPacketSender.java#L62

I don't want to support multiple update tracks. There will be no legacy version fixes. You can either upgrade to `3.0` or fork `2.0` and apply the changes yourself.

Sorry that I can't be of more help.

[2018-04-09 11:18] #197 closed

[2018-04-10 07:10] mr-gosh commented on #191
updateing the whole documentation?

[2018-04-10 07:14] mr-gosh opened #198 "The Tracking of Apps is not working / not documented in a usable way"
We are trying to add Tracking to one of our Android Apps in a privacy aware manner, but the documentation is not updated for long.
In our first tests several months ago the POC worked but now it doesn't, there are just no requests getting to the piwik / matomo installation.

we just added the server url and the site id plus the name of the event and tried to let it get triggered through the intere

[2018-04-10 08:06] d4rken commented on #191
@mr-gosh There is "Update documentation" in there?

[2018-04-10 08:09] d4rken commented on #198
Enable logging and see whether the event gets transmitted.

https://github.com/matomo-org/piwik-sdk-android/blob/master/exampleapp/src/main/java/com/piwik/demo/DemoApp.java#L39

Alternatively provide a sample app where it doesn't work and I can take a look.

[2018-04-10 08:43] mr-gosh commented on #191
ooops.. :D

[2018-04-10 10:40] WillSarah opened #199 "SDK crashes app after a while in case the tracking backend is permanently not reachable"
We are currently using the Piwik SDK in one client app. Last week the staging environment was undergoing maintenance and was not reachable for a few days / returning HTTP 500 error codes for every call made by the Piwik SDK.

It seems that the SDK then retries the calls without a retry limit until the app crashes with a SSLException "Unable to create application data", which seems to indicate a re

[2018-04-10 11:46] d4rken commented on #199
I assume you are not using the GZIP option, right?
As the v2.0.0 log points to https://github.com/matomo-org/piwik-sdk-android/blob/v2.0.0/piwik-sdk/src/main/java/org/piwik/sdk/dispatcher/Dispatcher.java#L247

The obvious cause would be that we forget to clean up our resources, but I can't see that in the code.
Both the output stream and the urlconnection get closed in the `finally` statements.

O

[2018-04-10 12:41] d4rken commented on #199
I've expanded the demo app to spam 2000 dispatches against a server returning code `301` but I can't get it to crash or show the logs you posted. Tired on API26 and API16.

The only noteworthy thing I see is

[code]

I'm looking into this currently.

[2018-04-10 13:00] WillSarah commented on #199
Correct, not using the GZIP option as of now.
Might be worth pointing out that we also set the dispatch interval to 0 as per the customers request (via tracker.setDispatchInterval()).

We saw this on a Pixel (1st generation) with 8.1.0 and a Nexus 6P with 8.1.0 but did not actively test the scenario on other devices at the time.

Currently we don't have a minimal example available, if I find the t

[2018-04-10 13:45] d4rken commented on #199
@WillSarah Merged #200 into `dev` ⬅️

If this fixes it, a `3.0.1` release would be warranted.

[2018-04-11 08:42] WillSarah commented on #199
@d4rken - It seems that this indeed fixes the crashes that occured before. I tried reproducing the issue with Charles (as the backend is working now) with version 3.0.0 and did get some crashes related to the "too many files open" scenario (like "java.lang.RuntimeException: Could not read input channel file descriptors from parcel") that are not occuring with the version from dev.

Also I will try

[2018-04-11 09:26] #199 closed

[2018-04-11 09:35] d4rken commented on #199
https://github.com/matomo-org/piwik-sdk-android/releases/tag/v3.0.1

@WillSarah ☝️

[2018-04-15 10:21] ishwarverma39 opened #201 "How to set visit duration manually for an Activity, even if the activity is not on screen"
I want to track the total lifetime of Activity A even if the activity is stopped. same time I also want to track onscreen activity

Activity Stack is:  Home Activity -> A->B.

[2018-04-16 13:44] oswaltalvaradolopez commented on #191
#200 @d4rken

- [ ] [Oswaltalvarado33@gmail.com](url)

[2018-04-17 07:13] amiralichesser3 opened #202 "Dex problems have returned"
Since the android studio new update, even enabling the D8 does not help and I still the the dex builder problem with piwikSdk

[2018-04-17 10:30] d4rken commented on #202
What dex builder problem?

Please post used versions and the error itself.

[2018-04-17 10:39] amiralichesser3 commented on #202
I'm using piwik version 3.0.1 , D8 is enabled and android studio version is 3.1.1

This is the error i get:
Caused by: com.android.builder.dexing.DexArchiveBuilderException: Failed to process /Users/amirali/.gradle/wrapper/dists/gradle-4.1-all/bzyivzo6n839fup2jbap0tjew/gradle-4.1/caches/transforms-1/files-1.1/piwik-sdk-3.0.1.aar/f2791f8d750fa70532857317fd29f013/jars/classes.jar

[2018-04-17 11:43] d4rken commented on #202
Is that the complete error? I think there should also be a stacktrace.

A google search for the error brings up:
https://github.com/yandex/mapkit-android-demo/issues/2
which links:
https://issuetracker.google.com/issues/77240639

This would be a bug in Android Studio 3.1's D8 dex compiler, the proposed solution is to deactivate D8 until it's fixed: `android.enableD8=false`

[2018-04-17 11:56] amiralichesser3 commented on #202
I did try with the enableD8 = false. still i get the same error: (when i remove piwik from my dependencies everything is working just fine)

Caused by: com.android.builder.dexing.DexArchiveBuilderException: Failed to process /Users/amirali/.gradle/wrapper/dists/gradle-4.1-all/bzyivzo6n839fup2jbap0tjew/gradle-4.1/caches/transforms-1/files-1.1/piwik-sdk-3.0.1.aar/f2791f8d750fa70532857317fd29f013/jar

[2018-04-17 12:11] d4rken commented on #202
See

https://github.com/matomo-org/piwik-sdk-android/issues/196

[2018-04-17 12:11] #202 closed

[2018-04-17 15:38] oscargrgm opened #203 "USER_ID can not be empty"
I'm using the version `2.0.0` of the Piwik SDK and trying to set the `USER_ID` of my `Tracker` as an empty `String` but it sets up automatically a random one.

This is my declaration:
[code]
I've also tried to set it as empty inside the `if` condition but is not working either. Is there any way to do it?

[2018-04-18 10:53] d4rken commented on #203
Why are you trying to do that?

The documentation states:

You can either remove it, or set it to something, "nothing" is not supported:
https://github.com/matomo-org/piwik-sdk-android/blob/v2.0.0/piwik-sdk/src/main/java/org/piwik/sdk/TrackMe.java#L43

[2018-04-18 11:04] oscargrgm commented on #203
The reason is we have defined a non-logged users system which have an empty `USER_ID`. I guess we should define another system and set a standard `USER_ID` for those non-logged users.

You can close the issue then. Thank you very much!

[2018-04-18 11:15] d4rken commented on #201
The "page visit" duration of Activity A is the time between between tracking the event of visiting Activity A and tracking the event of visiting something else. The page visit duration is calculated server-side. I don't think it's possible for multiple page visit durations to overlap as tracking the visit of Activity B will automatically end the "page visit duration" of the previously visited page

[2018-04-18 11:29] d4rken commented on #203
Providing an empty user-id for all non-logged-in users, even it is accepted by the server, would aggregate all visits with empty "user id" as visits from the same user. So then in tracking you get many different logged-in users, but one huge "not-logged-in". I think this would make the statistics quite unusuable.

Being logged in or not should not change the user-id as it's still the same individu

[2018-04-18 11:29] #203 closed

[2018-04-18 14:03] ishwarverma39 commented on #201
Thanks for the reply!!!

What's your use-case for this?- We want to track the total time required to create an event/meeting. In this process user also navigates to other activities to select participants, location, and other screens. We are able to track time for all individual screens, but we also want the total time for the main screen.

[2018-04-18 16:19] elevenetc opened #204 "Why Timber is included in release?"
Getting an exception:
[code]
Why `Timber` is in released version of library? It's assumed that every developer uses `Timber`? Using `3.0.1` version.

[2018-04-18 17:24] d4rken commented on #204
I'll try to reproduce this. Possibly related to #184

[2018-04-18 21:32] mattab commented on #201
Correct @d4rken - the "Time on page" is calculated server side.

Btw, not sure if relevant, but here are some more info:  By default, Matomo will accurately track the time spent on your pages for all pages, except the last page view of the visit. By default, on the last page view of any visit, Matomo counts the “Time spent on page” as 0 second. And when your visitor views only one page in the webs

[2018-04-25 10:41] tomvo opened #205 "Should app id be an int or a string?"
The docs state that the app id for the `TrackerConfig` constructor should be an int, however the only id's I can find in my website configurations are UUID's like: `1ef8a846-8a00-447b-a6cc-5f6e......`.

[2018-04-25 11:58] d4rken commented on #205
It's an int.

Check `Settings>Manage Websites` in your server.

If this is the only site on your server, then it is likely `1`. You can also see `idSite=1` within the URLs when browsing it.

[2018-04-25 12:24] tomvo commented on #205
@d4rken Ah yes, got it. Thanks!

[2018-04-25 12:24] #205 closed

[2018-04-26 21:47] d4rken commented on #204
Hmmm

https://github.com/bintray/gradle-bintray-plugin/issues/197

[2018-04-26 23:53] #184 closed

[2018-04-26 23:53] #204 closed

[2018-05-14 09:12] rovkinmax commented on #202
@d4rken solution from #196 is not help me, I already have compileOptions in my build.gradle file, but  also I have exception too
[code]

[2018-05-25 08:11] jsbriantes opened #208 "Could I send recorded track data at a scheduled time?"
The SDK for Google Analytics lets you track data and send it whenever you want. It is important for devices whithout internet access or with a high cost data transfer.
I would like to track events, goals, etc., but send it to the server only when I want.
Could it be done with piwik-sdk-android?

[2018-05-25 08:34] jsbriantes commented on #208
I'm sorry. I didn't read the advanced use. I have found it.

[2018-05-25 08:34] #208 closed

[2018-06-05 14:28] NoyGri opened #209 "Changing the User ID starts a new session in the server"
As opposed to the Web & iOS SDKs, when updating the user ID during a visit and sending a new event, the `idvisit` of that event is greater than the `idvisit` of the last event that the same user has created.
The Web & iOS SDKs conform the [fingerprint](https://github.com/matomo-org/matomo/issues/7667) concept that Matomo uses to stitch 2 visit with different `user_id`s.

The Android SDK does not c

[2018-06-05 17:48] d4rken commented on #209
The overlying reason to split up the injection was to reduce network traffic, but I wasn't aware of the  fingerprinting mechanism when implementing that.

Can we come up with a better solution than to just inject these parameters into every event so we can still try to prevent unnecessary traffic? Maybe once after the id has changed?

[2018-06-05 19:11] d4rken commented on #198
Closing due to inactivity.

[2018-06-05 19:11] #198 closed

[2018-06-05 19:11] d4rken commented on #201
Closing due to inactivity.

[2018-06-06 05:19] NoyGri commented on #209
We can add a simple `AtomicBoolean` flag to the `Tracker` object, and raise it when `setUserId` is called. Then in the following call to the `track` method we could check that flag after the call to `injectBaseParams` and if it's *raised* inject the "deviceParams" and lower the flag.
What do you think @d4rken ? (I ran a little test and seems to be working fine now)

[2018-06-07 04:10] NoyGri commented on #209
Yes you're right, that would be a problem.
OK this is still simple, what if we use the same code you used to lock a new session event at the top of the queue?
After the call to `Tracker::tryNewSession` in the `Tracker::track(TrackMe)` method, we will check if it was not a new session, then was the userId updated. We do that by comparing the received `trackMe.get(QueryParams.USER_ID)` to the member

[2018-06-07 15:56] d4rken commented on #209
That would work but the code might be too complicated for my taste.

I'll have a look at the synchronization code again later, I think we can simplify the whole `track` method by synchronizing on the `Tracker` instance, if we then synchronize the methods to change the user id, we should be good. Currently trying to remember why i implemented the latch based solution... 😁

That's a cool idea, saves

[2018-06-10 17:02] d4rken commented on #209
@NoyGri #210 should fix this, do you agree?

While simplifying the code I also noticed a bug that would cause the session-timeout to not work.

[2018-06-11 05:44] NoyGri commented on #209
@d4rken yep, looks good to me. Also nicely done with the code cleanup :)

[2018-06-11 11:05] d4rken commented on #209
v3.0.3 is available contains the fixes and is on bintray now.

Thanks for teaching me about the server-side stitching 😃

[2018-06-11 11:05] #209 closed

[2018-06-19 11:37] rovkinmax opened #212 "Dex problem not solved by issue 196"
I check #196, and there is `compileOptions` in my build.gradle cause I use retrolabmda in project
But I still have exception. Do you have any idea?
[code]

[2018-06-19 12:47] d4rken commented on #212
I think the solution is to disable the retrolambda plugin, it shouldn't be necessary anymore, due to Android supporting lambdas natively now.

[2018-06-22 12:20] linean opened #213 "Is Java 8 really needed?"
What is the purpose of using Java 8 in this library? It requires from the developer to change Java compatibility for the whole project.

[2018-06-22 12:44] d4rken commented on #213
I wanted to use Java8 features such as lambdas within the library code.

[Since AS 3.0](Since AS 3.0) native support exists for Java8 features. What's the downside?

[2018-06-22 13:46] linean commented on #213
Much longer build time is the downside, especially if you are working on a big project.

[2018-06-22 14:06] d4rken commented on #213
I can't say that I did any accurate measurements but I've not noticed any significant slow down when building an 80k LOC project (neither did a quick google search turn up any such issues). Can you point me to a resource with details on this?

In tests too. Possibly also some multicatch and try+release.

[2018-06-24 12:55] d4rken commented on #213
I agree that it's uncommon, but at somepoint I think it's okay to force this change, otherwise we'd still make libraries with a minAPI of 1.

A good solution for what?

[2018-06-25 06:11] linean commented on #213
In Kotlin you can use lambdas without Java 8.

[2018-06-25 09:41] Yetispapa opened #214 "Custom dimension not working"
I'm facing the problem that I don't get any dimension-informations. As I understand the documentation correctly I have to set the dimensions everytime an event is fired (or in my case when I'm firing an event). By the way the event itself is working only the dimension are not tracked. This is my code:

[code]

Can someone confirm my code or am I wrong about setting the dimensions everytime?

[2018-06-25 09:45] d4rken commented on #213
I don't think introducing Kotlin to this project just for that is a good idea unless we rewrite the whole project in Kotlin which is superfluos.

I care less about it than it seems to bother you, so if you submit a PR that refactors the java8 use out of the code, then I think we can merge that for the next release.

[2018-07-13 13:14] GitHubMurt commented on #193
I have a project called myProject. I put it to myProject "lib" folder another project called myLib.aar.
myLib project contains Timber.
api 'com.jakewharton.timber:timber:4.7.1'

when i try to build myProject i got:
java.lang.NoClassDefFoundError: Failed resolution of: Ltimber/log/Timber$DebugTree;

[2018-07-17 10:37] mr-gosh commented on #198
the documentation was wrong it was the inverted option of what is described in the docs, that activated the feature...

[2018-07-17 10:42] d4rken commented on #198
Can you provide a corrected documentation?

[2018-07-27 08:02] hosarb commented on #212
I have the same problem, but I didn't find any thing any where! How can I do that?! How can I disable retrolambda  plugin?!

[2018-07-27 19:10] hosarb commented on #212
I have the same problem, but I didn't find any thing any where! How can I do that?! How can I disable retrolambda  plugin?!

[2018-07-30 05:09] rovkinmax commented on #212
@hosarb this should help https://developer.android.com/studio/write/java8-support#migrate

[2018-08-06 05:40] cs8 opened #216 "invokedynamic requires --min-sdk-version >= 26"
I use the  globalMinSdkVersion = 19 but bulid failed.
Error:com.android.dx.cf.code.SimException: invalid opcode ba (invokedynamic requires --min-sdk-version >= 26)

[2018-08-20 07:59] berger89 opened #217 "Protocol Application Domain"
Is it possible to change the protocol? For example to use "rest://example/id/..."?
When I set.setApplicationDomain("rest://"), an http: is always prefixed...

[2018-08-20 13:38] d4rken commented on #217
You would use `setApplicationDomain` with a domain name not just a protocol, i.e. either `some.domain.com` or `https://some.domain.com`.

Either way it looks like the code requires the tracked URL to use either `ftp`, `http` or `https`.
https://github.com/matomo-org/piwik-sdk-android/blob/a3c0a4189f58ec88199bf54b74f5bf84a722edba/piwik-sdk/src/main/java/org/piwik/sdk/Tracker.java#L445

While we cou

[2018-08-21 05:03] mattab commented on #217
@d4rken on the server side AFAIK our check is this one: https://github.com/matomo-org/matomo/blob/3e524abc661d401c55ec8b3439a0125eae0f088d/core/UrlHelper.php#L135-L137

ie. `        return preg_match('~^(([[:alpha:]][[:alnum:]+.-]*)?:)?//(.*)$~D', $url, $matches) !== 0` so we accept URLs with any protocol.

[2018-09-06 08:10] ThomasGoehringer opened #218 "Campaign tracking"
I tried to add campaign tracking to my Android app. As there is no explicit method for that I tried to pass my own TrackMe object on the track method. On the object I set QueryParams.CAMPAIGN_NAME and QueryParams.CAMPAIGN_KEYWORD. However I can't find these values being tracked as campaign parameters.
Am I doing something wrong or is this not supported yet?

[2018-09-07 13:53] d4rken commented on #218
Have you checked whether the parameters are transmitted?

It's also possible that just those two keywords are not enough for the server, e.g. you'd need to also send in a tracked event or page view.

[2018-09-11 05:18] ThomasGoehringer commented on #218
I think it has to be set like the user ID. I'll have a try extending the SDK and create a PR if it works.

[2018-09-11 07:49] d4rken commented on #218
You could be right about that. This reads like you need to set these parameters on the initial trackme that's the first contact with the API for a visit.

[2018-09-11 07:50] ThomasGoehringer commented on #218
Have a look at my PR. This works for me.

[2018-09-20 14:18] d4rken commented on #214
Closed due to inactivity. Feel free to reopen this if this is still an ongoing issue.

[2018-09-20 14:18] #214 closed

[2018-09-20 14:18] d4rken commented on #212
Closed due to inactivity. Feel free to reopen this if this is still an ongoing issue.

[2018-09-20 14:18] #212 closed

[2018-09-20 14:18] d4rken commented on #216
Closed due to inactivity. Feel free to reopen this if this is still an ongoing issue.

[2018-09-20 14:18] #216 closed

[2018-09-27 06:38] ishwarverma39 opened #222 "CRLF Injection - Improper Output Neutralization for Logs"
Hi, team we are using Piwik for our Android applications.
We are getting these security vulnerabilities when doing the security scanning.

Source file names are
DefaultPacketSender.java  -   org/piwik/sdk/dispatcher/
Tracker.java    -   org/piwik/sdk/

Method name is void **zzk(android.content.Intent)**

Please advise how to resolve this issue.

[2018-09-27 06:41] ishwarverma39 opened #223 "Use of a Broken or Risky Cryptographic Algorithm"
Hi, team we are using Piwik for our Android applications.
We are getting these security vulnerabilities when doing the security scanning.

Source file name is org/piwik/sdk/tools/Checksum.java

Please advise how to resolve this issue.

[2018-09-27 10:31] d4rken commented on #222
There is no method with that signature in either class.

Imho, CRLF Injection is not really a concern here. This library doesn't log by default. If this is a security issue for your project and you require logging then you can write a custom `Tree` for the logging library `Timber` used here, that escapes CRLF sequences.

[2018-09-27 10:31] #222 closed

[2018-09-27 10:32] d4rken commented on #223
MD5 checksuming is not used for security purposes here.

[2018-09-27 10:32] #223 closed

[2018-09-27 10:35] d4rken commented on #218
@ThomasGoehringer I think we can close this, right?

[2018-09-27 10:35] #218 closed

[2018-10-01 14:07] ThomasGoehringer opened #224 "Set custom dimension/variable by itself"
Could you add the possibility to track custom dimensions or custom variables without having to track a screen or an event? Currently my visitor log is cluttered with unnecessary actions because of the custom variables I'm tracking. A solution like the user ID would be great.

[2018-10-01 14:19] d4rken commented on #224
AFAIK this is a limitation of the server API, not this library.

[2018-10-02 06:51] ThomasGoehringer commented on #224
I don't know how it's done in the original Javascript library and in the iOS SDK, but there are no unnecessary actions like the first three in the screenshot below.

![matomo](https://user-images.githubusercontent.com/14750926/46333331-53ae8700-c620-11e8-90dc-e459202c4169.png)

[2018-10-02 10:07] d4rken commented on #224
It doesn't need three, but at least one..

@mattab can custom dimensions be tracked without an action or view event?

[2018-10-02 20:37] mattab commented on #224
@d4rken the normal flow is to call the setCustomDimension before tracking an action. So it's important to know, and set, the value before the standard "track pageview" is called. The correct way looks like this:

[code]

If you do the below, then the custom dimension is set too late and Matomo won't know about the values:

[code]

And if you do the following below, only the first call to setCustom

[2018-10-02 21:08] d4rken commented on #224
That's how I understood it, thanks for the confirmation.

The SDK's `TrackHelper` offers this helper function to track dimensions with "pageviews".

https://github.com/matomo-org/piwik-sdk-android/blob/a3c0a4189f58ec88199bf54b74f5bf84a722edba/piwik-sdk/src/main/java/org/piwik/sdk/extra/TrackHelper.java#L142

The "Event" tracking doesn't have such a helper function at the moment but if Matomo suppo

[2018-10-03 00:02] mattab commented on #224
Yes, dimensions are supported for events.
@ThomasGoehringer  Maybe your issue comes from using the Helper method that does dimension+track, thinking it would only set the dimension?

[2018-10-04 21:20] d4rken commented on #224
See above, you NEED to track a screen or event, you can't track dimensions on their own.

v1.0 of the `Tracker` had such a method but I removed it as we can't control when they are transmitted, especially with lots of tracking going on. The current way makes it clear that these dimensions can only be tracked if part of an event or screenview.

If your dimensions are not all available at the same t

[2018-10-05 00:02] mattab commented on #224
It makes sense that "Action scope custom dimensions" are set on the screen or even itself.

But how do you manage the "Visit scope custom dimensions"?

For "Visit scope" dimensions attached to visits, is there/would it be possible to have a "setDimension" method that people can call to set the dimension value on the visit? (this would be consistent with other SDKs that offer this "set" method as w

[2018-10-05 08:52] ThomasGoehringer commented on #224
That's exactly what I meant and need.

[2018-10-05 15:27] d4rken commented on #224
I think we need to distinguish here between custom dimensions (new thing) and custom variables (deprecated).

From the SDK's point of view there is no scope difference for dimensions as this is handled by the server and distinguished by IDs. The SDK can't know which is which and it's up to the dev to specify their correct IDs.

For the custom variables, there is a helper method `CustomVariables.in

[2018-10-05 15:42] d4rken commented on #224
I guess we already have:

[code]

Though this would cost more traffic for the user as the dimensions will be send with EVERY request. Theoretically we could add a generalpurpose method to the `Tracker` like `addOneTimeValue(String,Object) that only gets send once with the next request.

AFAIK the iOS SDK just sends the variables with every tracking event:

https://github.com/matomo-org/matomo-sdk-

[2018-10-10 18:26] ejo4041 opened #225 "No data being sent to server"
I have been following the README closely and implementing a simple test app to get data to a test Matomo instance locally.  I can access the Matomo web UI through a browser no problem, but it just shows the no data screen like the app has never reached it.

Here is my code:

[code]

And here is the PiwikTracker code:
[code]

The app starts, and there are no clear errors during execution.  I have t

[2018-11-01 03:41] findById opened #226 "W/OkHttpClient: A connection to https://xxx.com/ was leaked. Did you forget to close a response body?"
[code]

[2018-11-02 07:11] ThomasGoehringer commented on #224
Sorry for the late response.
Maybe CustomDimensions will already do the trick. However, as I already said `CustomDimensions.setDimension(...)` doesn't track anything when I use it. Is there anything special I need to pay attention to?

This sounds pretty good for me, too.

[2018-11-09 14:19] bruceweir commented on #225
Check that your Matomo Dashboard is set to filter on the correct date. It can default to the previous day, which can make it look like it has no data when you first start using it.

[2018-11-12 13:10] d4rken commented on #226
Link to the specific section

https://github.com/matomo-org/piwik-sdk-android/blob/2638439e19aa08979ecfa0e20c58f5c653436218/piwik-sdk/src/main/java/org/piwik/sdk/dispatcher/DefaultPacketSender.java#L95

So this is likely a bug, good catch :+1:

While the Android documentation [does not mention](https://developer.android.com/reference/java/net/HttpURLConnection) in it's example that the input strea

[2018-11-12 13:43] #226 closed

[2018-11-12 15:21] ejo4041 commented on #225
I have since gotten a new phone and am now using 3.0.3.
I have gone to the all website dashboard and expanded to a year, still nothing.

This is crashing the app, so I am taking it out for now, I just need to get somthing working.
`TrackHelper.track().download().with(tracker);`

I can paste the tombstone from that one if it is useful.

[2018-11-12 16:05] ejo4041 commented on #225
I guess I was not being patient enough for the default 120 second dispatch.  After setting it to 0, I see it trying to send now, but it is not getting through.  When I send to HTTP, I get this:

[code]

When I try to send to HTTPS, I get:
`2018-11-12 11:02:33.497 23545-23575/com.android.piwiktestapp E/PIWIK:DefaultPacketSender: Transmission failed unexpectedly.
    javax.net.ssl.SSLHandshakeExcept

[2018-11-12 17:11] d4rken commented on #225
TrackHelper.track().download().with(tracker);

If that's caused by this lib, make another issue ticket please.

Seems the server gave a non successful error code (something else then 200 or 204) but then the error stream is still null. Here it would be interesting what the servers response was.

You'd have to write a (or modify the default) `PacketSender` and make it use your cert I think.  You ca

[2018-11-12 17:13] d4rken opened #228 "More transmission debugging information"
- [x] At least the server response code [here](https://github.com/matomo-org/piwik-sdk-android/blob/master/piwik-sdk/src/main/java/org/piwik/sdk/dispatcher/DefaultPacketSender.java#L149)
- [x] Check that additional details are available for both GET and POST, see #231

[2018-11-12 19:11] ejo4041 commented on #225
I will open a bug for the other issue.

I created my own PacketSender and DispatcherFactory using a HttpsURLConnection and now it hits the server, thanks!

[2018-11-12 19:14] ejo4041 opened #229 "Tracking app installs"
Here is the code that crashes my app inside the MainActivity onCreate():
`TrackHelper.track().download().with(tracker);`

The rest of the tracker works fine so far, I am seeing events on the server.  Below is the tombstone from the crash.

[2018-11-13 13:58] d4rken commented on #225
I guess this can be closed then?

[2018-11-13 14:04] d4rken commented on #229
Hm... this is a crash in native code and the library uses no native code. :question:

I'd say debug this further by setting break points to narrow down what triggers it.

Start with setting one before and after checksum calculation, you are using that, right?
https://github.com/matomo-org/piwik-sdk-android/blob/master/piwik-sdk/src/main/java/org/piwik/sdk/extra/DownloadTracker.java#L85

And maybe

[2018-11-13 14:04] d4rken commented on #225
Continued in #229

[2018-11-13 14:04] #225 closed

[2018-11-19 07:22] sandeshnaroju opened #230 "Data is not being shown in Matomo dashboard"
I have setup my server with Matomo and running successfully with 2 website trackings. I wanted to add analytics for my android application. So created a new website with siteid 4. And added below code in my android app.

    `public class MyApplication extends PiwikApplication {

    @Override
    public void onCreate() {
        super.onCreate();
        initPiwik();
    }

    private void initP

[2018-11-19 10:43] d4rken commented on #230
Maybe you need to adjust the displayed date range or start data archiving.
Does it show in the live feed?

Based on your logs id say it's a server issue.

[2018-11-19 10:46] sandeshnaroju commented on #230
"Only track visits and actions when the action URL starts with one of the above URLs". I have enabled this during site setup. I removed it. Now it is working thanks for the amazing sdk.

[2018-11-19 10:53] d4rken commented on #230
Happy to hear it's working.

[2018-11-19 10:53] #230 closed

[2018-11-21 08:21] arul-prasad opened #231 "more log on DefaultPacketSender when events > 1"
**I have full log with track url and query param when events == 1**

11-21 12:50:34.886 11193-11903/com.sella.BancaSella D/PIWIK:Dispatcher: Drained 1 events.
11-21 12:50:34.887 11193-11903/com.sella.BancaSella D/PIWIK:DefaultPacketSender: Connection open to **### https://piwikanalytics.it/piwik.php?rand=61624&idsite=87&rec=1&apiv=1&send_image=0&uid=54acf98a-db23-4621-ad0b-e057c70f50ec&cdt=2018-11

[2018-11-21 16:38] d4rken commented on #231
Likely because with events > 1 we use POST instead of GET to transmit multiple events at once.

Closing this in favor of #228

[2018-11-21 16:38] #231 closed

[2018-11-22 06:39] arul-prasad commented on #228
Thanks Matthias, you are right, yesterday i figured it out it is a POST call.

it will be better to have also the post param in the log. Thanks

[2018-11-22 09:52] srisheshprabhu opened #232 "How to make Custom Events."

[2018-11-22 10:41] d4rken commented on #232
https://matomo.org/docs/event-tracking/

https://github.com/matomo-org/piwik-sdk-android/blob/dca33697d00fc077c90e05352c002cb7df7285bc/piwik-sdk/src/main/java/org/piwik/sdk/extra/TrackHelper.java#L211

[2018-11-23 05:53] srisheshprabhu commented on #232
M sorry, I think I was not clear the first time. Let me rephrase it. I am trying to track a media event with the media parameters. Refer the following link : https://developer.matomo.org/guides/media-analytics/custom-player#media-analytics-http-tracking-api-reference

Also Since you have shown the class to create a event class, please mention how we can send that using tracker, trackme helper or a

[2018-11-23 10:58] d4rken commented on #232
There is currently not special class/routine just for this ( I think it should be added though). You'd have to set the parameters manually.

Just create a new `TrackMe` object and set the parameters on it, then pass it to the tracker instance.

The trackhelper is used like this:

https://github.com/matomo-org/piwik-sdk-android/blob/dca33697d00fc077c90e05352c002cb7df7285bc/exampleapp/src/main/java/

[2018-11-28 18:17] Mr-Norrell commented on #201
@mattab
@d4rken
Has this feature (heatbeat) been added to Android/iOS SDK?

[2018-11-28 18:33] d4rken commented on #201
Nope. There is no special functionality for it present, but you can of course manually create a `TrackMe` with the corresponding values and send it.

I'm open to adding something like this, not sure how this would best be implemented though... never worked with it. I'm open for suggestions.

[2018-11-28 18:34] d4rken opened #233 "HeartBeat functionality"
https://developer.matomo.org/guides/tracking-javascript-guide#accurately-measure-the-time-spent-on-each-page

See #201

[2018-11-28 18:34] d4rken commented on #201
#233

[2018-11-28 18:34] #201 closed

[2018-12-02 03:14] #217 closed

[2018-12-02 03:14] #224 closed

[2018-12-02 03:15] #228 closed

[2018-12-02 03:15] #195 closed

[2018-12-02 03:36] d4rken commented on #229
Stale

[2018-12-02 03:36] #229 closed

[2018-12-02 08:09] Mr-Norrell commented on #233
Thanks @d4rken. To justify this need more, I just wanted to point out our situation, which I think is a common case. In live-streaming applications like ours, users mostly will exit the app from the player page. Thus we have no duration for their last action, which in our case is watching a stream. Comparing to our web platform, we can see a notable difference in users' visit duration, which we be

[2018-12-03 02:53] d4rken commented on #191
@mattab

I think you need to re-enable the coverage servicie:

[![Coverage Status](https://coveralls.io/repos/matomo/matomo-sdk-android/badge.svg?branch=dev&service=github)](https://coveralls.io/github/matomo/matomo-sdk-android?branch=dev)

i.e. Enable this repo under coveralls.io

[2018-12-03 03:02] d4rken commented on #191
Bintrayupload is there, currently pending being linked to `jcenter()`:

https://bintray.com/darken/maven/matomo-sdk-android

[2018-12-03 06:39] d4rken commented on #191
@mattab I can't add the repository to coveralls:

https://coveralls.io/repos/new

I also noticed that we had multiple projects on coveralls that are likely all broken since the big renaming:

https://coveralls.io/github/piwik

My best guess would be it's an "organization" related issue.

The alternative here would switching this repo to another service like:
https://codecov.io/gh/matomo-org/matomo

[2018-12-03 06:41] mattab commented on #191
As far as I know no other repository is using coveralls so you're welcome to try a different one

[2018-12-03 07:45] #213 closed

[2018-12-03 07:50] d4rken commented on #233
I guess we could introduce a function like `Tracker.enableHeartBeat(timeInMiliseconds)`, not sure when one would best call this in an Android app like yours or when to disable it hm...

[2019-01-02 12:41] arul-prasad opened #241 "sdk - android - max Retry option"
In the DefaultDispatcher, we are doing a re-try when the track call goes unsuccess and the events cache has elements. Possible to have MAX_RETRY option? by this way, we can control the app running in thread without re-trying always running in thread (till app is closed or kill).

For example i expect when my piwik (matomo) server is down, i expect my app can re-try only 5 times.

https://github.co

[2019-01-02 15:19] d4rken commented on #241
What would happen after exceeding the MAX_RETRY value?

How would you differentiate server down from connectivity issues, where the user is, e.g. in a subway?

[2019-01-03 08:01] arul-prasad commented on #241
My intention is to stop the thread keep on running when there is server down or connectivity issue, probably can we write the events cache in disk and try when we app re-open?

[2019-01-03 14:13] d4rken commented on #241
Did you notice this having a negative impact? The current code would have it retry every 5 minutes, a thread consumes virtually no resources while sleeping. If the app is in the background during that time the system will kill it anyways.

[2019-01-04 06:17] arul-prasad commented on #241
agreed when we have retry every 5 minutes our impact is low and when the app is in background this will be killed. What happens when we have dispatchInterval 0 ?

`         mPiwikTracker = Piwik.getInstance(getReactApplicationContext()).newTracker(TrackerConfig.createDefault(url, id));
            mPiwikTracker.setDispatchInterval(0);
   `

and we will have sleepTime as 0.

` while (mRunning) {

[2019-01-07 10:55] arul-prasad commented on #241
I though of adding below check in DefaultDispatcher, let me know your comments. especially when dispatchInterval is zero. (no wait)

` if (mRetryCounter > 1) {
                        if(mDispatchInterval > 0) {
                            sleepTime += Math.min(mRetryCounter * mDispatchInterval, 5 * mDispatchInterval);
                        } else {
                            sleepTime += Math.

[2019-01-11 12:37] jewelzqiu commented on #230
Hi @d4rken . I am using sdk 4.0.1 and matomo server 3.7.0

from android log, data was posted successfully:
`V/MATOMO:DefaultPacketSender: Transmission finished (code=200).`
And from server log it says (I am using docker image: `matomo:fpm`):
`"POST /index.php" 200`

But matomo web page shows no data
And mysql table `matomo_log_visit` is empty too

"Only track visits and actions when the action URL

[2019-01-15 11:46] taranTR opened #242 "EcommerceItems.Item price field is Integer."
EcommerceItems.Item price field is Integer.I need to set Float value.
It should be Float,am i wrong?

[2019-01-15 16:41] d4rken commented on #242
We are saving it as `if (mPrice != null) item.put(CurrencyFormatter.priceString(mPrice));` string?

Documentation says it should be float value though, so `10.00` and we seem to be sending `"10.00"`.

[2019-01-15 18:59] taranTR commented on #242
i mean,sdk wants `int` as parameter from me and i cant give `float` value.Says `cent` in comment but it want `int`.
<img width="398" alt="ekran resmi 2019-01-15 21 51 30" src="https://user-images.githubusercontent.com/20425764/51202519-f78e1b00-190f-11e9-89e8-6f067e709684.png">

[2019-01-16 12:21] d4rken commented on #242
On further investigation, it would only make sense to allow `float if we also change from using `cents` to whole $ or €, but this is something we can't easily do without breaking it for everyone currently using this.

So unless there is a really compelling reason to introduce this breaking change, it will stay as is.

[2019-01-16 12:21] d4rken commented on #242
Reference:
https://matomo.org/docs/ecommerce-analytics/#example-tracking-an-ecommerce-order-containing-two-products

[2019-01-16 12:22] d4rken commented on #242
I'm preparing a PR that will add convenience methods to convert between cents and euros and also do some internal cleanup as the documentation says to not pass `string` which we currently do and although it seems to work we should keep close to the docs.

[2019-01-16 12:32] taranTR commented on #242
i'm not using `string`,i just need set `float`.So now if i want to enter "2,53",i have to do  before "2,53*100" cause get as cent.And i'll send "253" right?Do I understand correctly?

[2019-01-16 12:58] d4rken commented on #242
Yes :+1:

[2019-01-16 12:59] taranTR commented on #242
Ok thank you.

[2019-01-16 13:03] d4rken commented on #242
I was on the wrong path here, due to passing the data to the api via e.g. url encoding we pass everything as *string* internally changing this in the SDK would be cool, but due to the breaking changes not worth it.

[2019-01-16 13:03] #242 closed

[2019-01-17 15:08] taranTR opened #243 "price showing "0" if price setted more than "999""
if i set price below "1000", everythings normal.

the result showing normal ->
<img width="294" alt="ekran resmi 2019-01-17 17 53 40" src="https://user-images.githubusercontent.com/20425764/51327141-b61d7d00-1a81-11e9-80d0-5a1271c8e1a5.png">

But if i set price more than "999"
<img width="254" alt="ekran resmi 2019-01-17 17 55 22" src="https://user-images.githubusercontent.com/20425764/51327214-e1

[2019-01-18 09:09] #243 closed

[2019-01-18 09:15] d4rken commented on #243
I've release v4.0.2 with the fix. Good find :heart:

[2019-01-24 02:46] royalhacker opened #248 "Cant create new tracker ?"
how to create new tracker from trackerBuilder. Trackerbuilder.build asks for matomo which has private access. Please can somebody give a rough idea how to create new tracker.

[2019-01-24 12:13] d4rken commented on #248
[code]

[2019-02-01 06:08] #248 closed

[2019-02-07 23:23] doapp-jeremiah opened #249 "UncaughtExceptionHandler looses events on crash"
I installed the MatomoExceptionHandler using `TrackHelper.track().uncaughtExceptions().with(tracker)` and I can see the event being created and dispatched, but the app is being killed before the network request completes.

I'm attempt to debug this so I have the dispatch timeout currently set to 0 and I can see the following when the event is sent correctly (the [REMOVED] is my own edits):

[code]

[2019-02-08 15:20] d4rken commented on #249
The dispatch mechanism does not distinguish between specific types of data.

The default behavior is to attempt transmission and if that fails to cache the packets to disk and retry later. When writing that I didn't have exceptions in mind but focused on less resource usage.

So it seems the app killed too quickly for the exception to be dispatched?

I think the underlying is not the caching, but

[2019-02-08 20:02] doapp-jeremiah commented on #249
I can see the behavior you describe.  I enabled the debug logging and I can see the event is drained from the cache, attempts to send, and the app terminates before success or failure.

I've worked with crash reporters in the past that assume the app won't be alive long enough to make a network request while crashing.  The approach there is to persist the event to disk and attempt to re-send the n

[2019-02-10 18:34] d4rken commented on #249
Bit busy with other projects atm.

So we basically have two features here:
* Write to disk first
* Create a blocking way to call `Tracker.track(...)`

I don't think there is a way to flush to disk atm, besides writing your own dispatcher module.

The issue is that this kinda needs to be optional, we would only want this for exceptions, for all other events (which are the majority of events) we wan

[2019-02-13 15:24] doapp-jeremiah commented on #249
Thanks again for looking at this.  I completely agree, the normal path should be as quick and light on resources as possible.

Do you take pull requests?  I've been looking at this over the last few days and I think I have a way to enable this without drastically changing how things work.

I'm thinking the dispatcher loop could be changed to tell the `EventCache` to write out events to the `EventD

[2019-02-14 15:24] d4rken commented on #249
I do take pull requests but I tend to be quite picky :frowning: with core changes like this. I think we need to do a v5 (semver) too due to breaking changes in the cache API? Hm...

Thinking a bit out loud here to order my thoughts.

I think we should start with the introduction of function that allows for blocking tracking, because that's the base requirement to fix the exception tracking, then w

[2019-02-14 23:34] doapp-jeremiah commented on #249
Completely understand (its a solid SDK, I'd be picky too).

I like the `setMode(...)` idea.  With that approach my `close()` idea looks like a shorthand for `setMode(Mode.OFFLINE)` followed by `forceDispatch()` and then some new mechanism that allows you to block or get a callback after the dispatch thread completes.  There would be no need to re-open the tracker as nothing is actually being close

[2019-02-15 00:42] doapp-jeremiah commented on #249
I did a quick test and I can see that blocking the handler causes the ui to freeze up and will trigger ANR if you hold it long enough.

Exiting the method quickly without calling the wrapped handler appears to trigger the runtime shutdown normally (200 ms)

[2019-02-17 20:42] d4rken commented on #249
Maybe it's best if you just start a PR on this and I'll review, I seem to not find time :disappointed: . Usually one get's a lot better insight into issues once some code starts flowing :)

That's my current idea too.

Some thoughts:
* I've shortly thought about making it only part of the Dispatcher API which would then mean it's all just a custom "Dispatcher", but because we need it as part of th

[2019-02-18 16:05] doapp-jeremiah commented on #249
I was thinking the same.

I thought `ONLINE` and `OFFLINE` weren't great names but the concept was clear and I figured the names would be easy to change later.  I'll play around with whatever makes sense as I'm coding it up.

I'm wrapping up something at the moment and I'll focus on this next.  Should have a PR for you to review in a day or two.

[2019-03-01 09:15] qstuff opened #253 "Tracking Content?"
Is this SDK capable of Content Tracking? It's mentioned that the API is capable of, but i did not find a method or more documentation on how to do it with the Android SDK.
I found a PR from 2014 which added this feature, but looks like it has gone in the meantime
https://github.com/matomo-org/matomo-sdk-android/pull/8/files

[2019-03-01 10:24] d4rken commented on #253
This was just moved:

https://github.com/matomo-org/matomo-sdk-android/blob/master/tracker/src/main/java/org/matomo/sdk/extra/TrackHelper.java#L477

In any case the SDK always supports setting the key/values yourself, e.g. see `TrackMe` objects.

[2019-03-01 17:09] #253 closed

[2019-03-01 17:09] qstuff commented on #253
it's a bit hidden ;) but thanks for the help.

[2019-03-01 18:31] d4rken commented on #253
`Tracker` is the base class for all mechanics, while `TrackHelper` offers builder patterns to help you with the creation of `TrackMe` objects for all common use-cases.

[2019-03-11 16:10] brahyam commented on #248
Hey guys thanks for the hard work,

I believe this should be added to the docs for people not extending Matomo app

[2019-03-17 19:55] mann579 commented on #216
Can we reopen this?

[2019-03-18 11:14] sxf141 opened #254 "unavailable SDK"
The request cannot be sent to the server, nor can Fiddler display the request.

org.matomo.sdk:tracker:4.0.2

public class BaseApplication extends MatomoApplication {
    private static BaseComponent mBaseComponent;
    private static BaseApplication mApplication;

    @Override
    public void onCreate() {
        super.onCreate();
        mApplication = this;
    }
    @Override
    protected vo

[2019-03-26 20:05] eyeled opened #255 "Wrong usage of user id, vistor id is not persisted"
The documentation at https://matomo.org/docs/user-id/ states that "The User ID must be the same for a given user across all her devices and browsers." Generating a random user id inside the SDK contradicts this. I think the user id should not be generated, but it should be left to the app to set it if applicable.
On the other hand the visitor is regenarated every time a Tracker instance is created

[2019-03-27 17:10] d4rken commented on #255
The user id is generated once then persisted per app install, the default is random because it's good for privacy and allows the sdk to support tracking out of the box. You can easily set the user-id to an email if that's what you want. If we don't do this, then every time the app is opened, it count's as a new user towards your stats. Usually devices with apps are used by a single user.

The visi

[2019-03-27 17:45] eyeled commented on #255
In the first place I stumbled upon this because the iOS SDK behaves differently than the Android SDK.
In the iOS SDK by default a visitor ID is randomly generated and persisted. No user ID is set by default.
In order to recognize returning visitors the visitor ID needs to stay the same. Cf. https://matomo.org/faq/general/faq_21418/
Regenerating it when the app is started again makes no sense to me

[2019-03-27 18:28] d4rken commented on #255
AFAIK the server recognizes returning visitors also by their user-id too. At least it seems to work in my console. Are you sure that returning visitors are not tracked correctly with the Android SDK?

Your explanation makes sense though, looking at the commit history it seems like it just was always the way it currently is since 2014.

Changing this would make the default behavior (it can always b

[2019-03-27 19:38] NoyGri commented on #255
@d4rken @eyeled  The server's ability to define a session is based on a combination of the User's ID or its fingerprint (aka Config ID) (see #209 for more info about the fingerprint).

What happens when an event is sent to the server is roughly this:
1. If `userId` is defined, find the last event with the same `userId`. If an event was found AND it had occurred less then X minutes ago (configurabl

[2019-03-27 21:22] eyeled commented on #255
@NoyGri Your suggestion looks good to me. That would make the default behaviour more like the iOS SDK while keeping compatibility with existing code. But the behaviour would change for new app installations.

I was thinking about only persisting the `visitorId` and leaving it to the app's responsibility to set the `userId` to `null` after creating the Tracker instance.  Adding this code snippet as

[2019-04-04 15:48] d4rken commented on #254
lack of info

[2019-04-04 15:48] #254 closed

[2019-04-04 16:24] d4rken commented on #255
See #256 for a changeset suggestion, is that what you had in mind?

[2019-05-04 19:24] #255 closed

[2019-05-04 20:24] #249 closed

[2019-05-21 06:02] ishwarverma39 opened #257 "Not Getting the events for Samsung Galaxy Note 9"
Hi Team, we are not getting any events for Samsung Galaxy Note 9

We are using the following SDK version
`implementation 'org.piwik.sdk:piwik-sdk:3.0.3'`

Please help with this.

[2019-06-20 19:26] olivier-duval opened #258 "Untagged socket detected; use TrafficStats.setThreadSocketTag() to track all network usage"
As of Android O, if StrictMode is enabled with VmPolicy detectAll(), an untagged socket violation is thrown:

E/StrictMode: null
    java.lang.Throwable: Untagged socket detected; use TrafficStats.setThreadSocketTag() to track all network usage
        at android.os.StrictMode.onUntaggedSocket(StrictMode.java:2021)
        at com.android.server.NetworkManagementSocketTagger.tag(NetworkManagementSo

[2019-06-20 19:29] olivier-duval commented on #258
I found a workaround, until it's corrected: at the beginning of the app, I use:

Matomo lMatomo = Matomo.getInstance(getApplicationContext());
		lMatomo.setDispatcherFactory(new DispatcherFactory() {
			@Override
			public Dispatcher build(Tracker tracker) {
				return new DefaultDispatcher(
						new EventCache(new EventDiskCache(tracker)),
						new Connectivity(tracker.getMatomo().getContext())

[2019-06-20 20:21] d4rken commented on #258
Wouldn't it make more sense to disable this `VmPolicy` as just tagging everything with `1` basically means that you are not interested in tagging the sockets correctly, so why enable the penalty for it at all?

An actual fix would be to choose a "unique" tag for all Matomo traffic and allowing for to set a custom tag.

Should the tags be different per tracker too? :thinking: really depends on what

[2019-06-20 20:38] olivier-duval commented on #258
You're right: it would be better to be able to set this tag to any "unique" chosen value, for people interested in tracking this.

However, my use case is more "simple": I'm in the process of debugging so I enabled "detectAll()" to catch... well... anything (unclosed cursor and that kind of stuff). I use okhttp too so I may trigger some problems in my own code.
The code is for each thread. Might b

[2019-07-02 08:29] JeyakumarThangaraj opened #259 "Reset UserId while logged out"
Team,

We dont find anyway to reset userId while logout. because of this, visitor id remain same for all the time whenever same user is trying to login. Kindly Advise

Thanks,
Jeyakumar

[2019-07-02 11:07] d4rken commented on #259
What about `Tracker.setUserId(...)`.

https://github.com/matomo-org/matomo-sdk-android/blob/006ed7dfb4541273adc43bbd315bcd955dc32379/tracker/src/main/java/org/matomo/sdk/Tracker.java#L334

[2019-07-08 16:01] JeyakumarThangaraj commented on #259
If i reset user Id, new visitor ID and a new visit is not created. Still existing visit only being used. Kindly advise.
I want below to be implemented in android.

![image](https://user-images.githubusercontent.com/49137580/60824687-b38b1d00-a1b2-11e9-9ce6-9d052356f7b7.png)

[2019-07-08 16:08] d4rken commented on #257
stale

[2019-07-08 16:08] #257 closed

[2019-07-08 16:38] d4rken commented on #259
`resetUserId` also resets the visitor-id in the [javascript tracker](https://github.com/matomo-org/matomo/blob/7a93a2b5ff683e7bb27339502a60c00add9fe26e/tests/javascript/index.php)

So to do the analog here you'd probably have to do something like:

[code]

Also see `SESSION_START` (i.e. [`new_visit`](https://developer.matomo.org/api-reference/tracking-api)), which you could set to prevent the serv

[2019-07-08 18:32] Nithiyasabariswaran commented on #259
Hi All,

All my screens are loading in a single visitor id (Android).
I have used tracker.setVisitorId(Tracker.makeRandomVisitorId()) also.

kinldy advice,
Thanks in advance.

![image](https://user-images.githubusercontent.com/12802349/60833760-afb5c580-a1c7-11e9-86e4-44ac102cbae3.png)

[2019-07-19 14:25] d4rken opened #261 "Feat: Addition of a Tracker.resetTracking() call?"
Also see #259

"Old user logs out, new user logs in, track as new visit" seems to be a common yet problematic use-case that could be made easier by providing a call like:

[code]

Apparently the JavaScript SDK has this, I'm not certain whether the iOS SDK has this?

`resetVisit` might be a bit missleading and something like `resetTracking` would be more appropriate in conveying the effect.

[2019-08-05 14:10] Nithiyasabariswaran opened #263 "Android SDK takes more time to sync the details."
Android SDK takes more time to get reflect the screens and events in portal.

There is any configuration we need to set up?

Please advise,

Thanks

[2019-08-05 14:26] d4rken commented on #263
`[Tracker.dispatch()](https://github.com/matomo-org/matomo-sdk-android/blob/master/tracker/src/main/java/org/matomo/sdk/Tracker.java#L204)`?

By default, events are batched and transmitted every 2 minutes or when the app is no longer on screen.

[2019-08-07 05:09] Nithiyasabariswaran commented on #263
Hi,
Thanks.

After some event if i killed my APP what will happend?

[2019-08-07 06:16] d4rken commented on #263
The events will be part of the next dispatch when the app is used again.

[2019-09-02 13:25] OMARIHAMZA opened #264 "Blocked by Play Protect"
After integrating this sdk with my android project, "Blocked by Play Protect" dialog is shown when trying to install a signed APK.
Is there any solution for this problem?

![LlLiX](https://user-images.githubusercontent.com/36658089/64117435-e100db00-cd9d-11e9-9313-91af93f2a559.png)

[2019-09-02 13:47] d4rken commented on #264
I don't think it's related. Your addition of the SDK was likely just coincidental.

The message talks about not recognizing the developer which is usually done via signing key, so you might have used the wrong signing key or have not used that key before such that it is unknown to Google Play "Protect".

[2019-09-02 13:47] d4rken commented on #263
Stale

[2019-09-02 13:47] #263 closed

[2019-09-02 13:52] OMARIHAMZA commented on #264
I forgot to mention in the description that I removed the library and commented out the tracking code, signed the APK with the same keystore, and then installed the apk without any Play Protect warning.

[2019-09-02 13:54] d4rken commented on #264
And if you now add the library again, uncomment the tracking code and sign the APK with the same keystore?

[2019-09-03 07:00] OMARIHAMZA commented on #264
It seems that the issue was a problem with keystore used to sign the apk.
Thanks for your reply!

[2019-09-03 07:00] #264 closed

[2019-09-26 12:12] AlexMisiulia opened #265 "Best practice to track install referrer"
Hi!
Globally: I need to track install referrer for cases when user download application with URL using campaign details ( for example https://play.google.com/store/apps/details?id=com.mypackage&referrer=utm_source%3Dmobisoc%26utm_content%3D{transaction_id}%26utm_campaign%3D1). I think that matomo has built-in functionality for tracking this but I didn't found any information about it in docs or co

[2019-09-26 12:29] d4rken commented on #265
Yes that's the idea.

Here is some more information on this topic:
https://stackoverflow.com/questions/30103338/android-is-it-possible-to-get-install-referrer-programmatically

You can test this locally by faking the broadcast via ADB.

[2019-09-26 12:36] AlexMisiulia commented on #265
@d4rken thank you for the fast answer!

[2019-09-26 12:36] #265 closed

[2019-10-06 07:31] JeyakumarThangaraj opened #266 "LDAP Injection"
Dear Team,

LDAP injection has found on piwik request in both android and IOS. Kindly advise how to resolve this issue.

Please find the details below:
LDAP injection attempt ( uid )

•	Signature Type :Request
•	Attack Type      :LDAP Injection
•	Accuracy           :Low
•	Risk                    :Low

Regards,
Jeyakumar

[2019-10-06 08:58] d4rken commented on #266
Please describe where and how this can be exploited.

[2019-10-08 09:33] AlexMisiulia opened #267 "Custom dimensions event scope, user scope."
Hi, I have a few questions about custom dimensions and their scopes.

Can I add custom variables to events (similar to [Amplitude](https://help.amplitude.com/hc/en-us/articles/207108327-Step-4-Set-User-Properties-and-Event-Properties#event-properties))?

I want to track some specific fields for the event. For example `email_error`, `name_error`, `password_error` for login events in order to track

[2019-10-08 10:05] AlexMisiulia commented on #267
UPD: I found that there is a possibility to track this event with the help of a custom [dimensions plugin](https://matomo.org/docs/custom-dimensions/). But I didn't find any way to send event dimensions (only screen).

[2019-10-08 12:16] JeyakumarThangaraj commented on #266
Please find the sample screenshot below. same happening for all the request.

![LDAP-Injection](https://user-images.githubusercontent.com/49137580/66394756-93037680-e9de-11e9-9116-361a86b817bb.png)

[2019-10-08 13:17] d4rken commented on #266
I don't see it :thinking:.

The SDKs have nothing to do with LDAP. It's up to the server to validate any data incoming on the API.

The Android (and iOS) SDK interface with the server via API, that API is open to any client independent of using an SDK. You could use `curl` to do the same thing.

If there are any concerns regarding server side input sanitization please report it to https://github.c

[2019-10-08 13:17] #266 closed

[2019-10-08 14:50] Findus23 commented on #266
Hi, if you want to report a security issue in Matomo, please take a look at https://matomo.org/security

When writing a report, please also mention what the security issue is exactly, how one can reproduce it and what the security implications are.

[2019-10-13 19:51] d4rken commented on #267
The `TrackHelper` class should have methods to supply custom dimensions along with screen views.

[2019-10-15 11:12] RomainDev25 opened #268 "No datas receive to matomo cloud"
Hello, before install matomo in our server, we want to test on matomo cloud, it's more simple.

I take Example application in this repo, change in DemoApp.java
Url and Siteid

I receive datas on time, and after nothing
In logcat, I have this, so for me it's ok : I/DemoApp: Tracker.Callback.onTrack(org.matomo.sdk.TrackMe@80855c7)

What I need to params in settings application to send to Server ?

I

[2019-10-15 11:23] Findus23 commented on #268
Can you check in Matomo if you are seeing any data in the visitor log?
All other reports might be slightly delayed as they need to be generated.

[2019-10-15 11:27] RomainDev25 commented on #268
In visits log, I have datas at 12:04 and after this nothing.
In example application I have set dispatch interval 0
Session timeout 30
Dry run unchecked
Opt out unchecked

[2019-10-15 11:32] RomainDev25 commented on #268
Ok, it's me I have don't see fetched is at 120000 secondes each time we recompile app.
Datas arrive.
Thank you ;)

[2019-10-15 11:32] #268 closed

[2019-10-15 14:48] RomainDev25 opened #269 "Don't send ip adress RGPD"
Hello, I have a question, I want to don't send ip adress of visitor if he don't send consentement.
It's possible to send screen and disable send of ip adress ?
Have a nice day.
Romain

[2019-10-15 19:42] RomainDev25 commented on #269
Ok thank you for the answer, so if we install our server, we can catch this.
We send variable with no ip for example and in server, we remove ip of user.
It's possible to develop module or not ?
Have a nice day.

[2019-10-15 21:43] d4rken commented on #269
Client IP obfuscation is a server-side feature and requires no configuration within the Android-SDK.

[2019-10-15 21:43] #269 closed

[2019-10-18 06:02] AbhijeetDandiwal opened #270 "Matomo analytics not showing data on admin panel in android"
Hello Team,

We are working on Matomo analytics integration in android application.
Below is the sdk we have used :-
a. ) implementation group: 'org.matomo.sdk', name: 'tracker', version: '4.1.0'

And we used below code :-
MainActivity.java

 Tracker tracker = ((MatomoApplication) getApplication()).getTracker();
 TrackHelper.track().screen("/java/com.example.matomo/MainActivity").title("Yipee").wi

[2019-11-08 15:31] sergeyYuriev opened #271 "SDK losts events in offline mode"
SDK losts events in offline mode

SCENARIO TO REPRODUCE ISSUE:
Tracker instance must be singleton.

1. Disable network
2. Start an android app
3. Produce some matomo events more than cache size
4. Enable network. Matomo events go to the server.
5. Disable network
6. Produce some matomo events.
7. Enable network.
8. ISSUE> NEW events does not send to the server!

ENV / AND CACHE CONFIGURATION:
Andr

[2019-11-09 09:46] d4rken commented on #271
Just did a quick look at the code and I think you are right. Will have to find some time to further look into it. Maybe someone else can submit a PR with a bugfix and tests for this?

Workarounds:

* Disable the size limit by setting it to 0
* Supply your own disk cache instance

[2019-11-09 16:16] sergeyYuriev commented on #271
Thank you for quick response. I will try your workaround suggestions.

[2019-12-05 16:59] Ponsen commented on #270
Hi,

I'm having a similar issue. I've updated from piwik 2.X to Matomo 4.1.0 and couldn't see any entries in matomo backend (3.13.0). Android Studio Profiler shows the requests are working with reponse code 200 but nothing in the backend. I've just tested downgrading to piwik 3.0.3 and it's working again. During the tests with 4.1.0 i've activated the matomo logs, but it wasn't loggin any 4.1.0 re

[2019-12-06 11:05] d4rken commented on #270
Have you checked the v3 -> v4 hints?

https://github.com/matomo-org/matomo-sdk-android/wiki/Migration#v30-to-v40

I think you most likely need to correct the URL, and append either `piwik.php` or `matomo.php` which was previously done by the SDK.

[2019-12-06 12:27] d4rken commented on #271
`mCurrentSize` is being updated but the order is the issue.

Caching new data:
* Check current limits, if necessary, delete stuff
* Store new data

After storing new data we may be over the current limits!

Uncaching data
* Check limits, if necessary, delete stuff. **If the previous caching put us over the limits, we delete data here before returning it.**
* Return new events

[2019-12-06 13:53] Ponsen commented on #270
I must have missed that. It's working now.
Thank you very much.

[2019-12-06 14:25] #270 closed

[2019-12-06 15:17] #271 closed

[2019-12-10 06:57] chainchelliah opened #280 "Overriding MatomoApplication class is may not be the good way for initialization!!!"
This could be the enhancement issue or my suggestion.

Extending your custom application class may leads to prevent the users to use of some other features like **SplitInstall** of Dynamic features If anyone may use it.  As we can't use many super types, this could cause many problem if your app class at scale.

Also, I wonder why you choose java since you guys started development of this project

[2019-12-10 09:55] d4rken commented on #280
The app class extension is just a convenient way for beginners to set it up, if you look at the code you'll see that you can just initialize it any way you want:

https://github.com/matomo-org/matomo-sdk-android/blob/v4.1.1/tracker/src/main/java/org/matomo/sdk/extra/MatomoApplication.java

https://github.com/matomo-org/matomo-sdk-android/blob/v4.1.1/tracker/src/main/java/org/matomo/sdk/Matomo.java

[2019-12-10 09:55] #280 closed

[2019-12-10 09:55] #267 closed

[2019-12-10 10:02] d4rken opened #281 "Switch install referrer tracking to new AIDL based API"
Thanks to @Tolriq for the [heads up](https://github.com/matomo-org/matomo-sdk-android/pull/279#discussion_r355446207).

The broadcast method will stop working on 01.03.2020.

https://android-developers.googleblog.com/2019/11/still-using-installbroadcast-switch-to.html

[2019-12-10 10:46] Tolriq commented on #281
I may look into it next year, but since it seems that the Google library is closed source, it should probably be proposed as an optional module.

Not sure direct AIDL code is worth it, specially when, for example, they now will prevent Play Billing direct AIDL usage to force their libraries.

[2019-12-10 15:23] moopat opened #282 "Error in Quickstart"
The simple tracking example in the [README](https://github.com/matomo-org/matomo-sdk-android#quickstart) does not work, because `TrackerBuilder.createDefault()` returns an instance of `TrackerBuilder`, not `Tracker`.

[code]

[2019-12-10 17:36] d4rken commented on #282
Oh, can you submit a PR?

[2019-12-12 11:23] moopat commented on #282
Sure.

[2019-12-12 15:38] #282 closed

[2020-01-13 10:55] Tolriq commented on #281
After a quick look, that Google library currently adds some insane permissions and in all cases require a new permission even from AIDL.

I do not care enough about the provided data to work on it sorry :( But in all case if anyone does it I highly recommend that it's made as an optional module as closed source + permission.

[2020-01-23 03:10] mattab commented on #259
Fyi @d4rken we recently changed this and no longer will resetUserId change the Visitor ID. This was done in https://github.com/matomo-org/matomo/pull/14360

[2020-01-23 03:11] mattab commented on #261
Fyi here is how we now recommend to do this in JavaScript: https://developer.matomo.org/guides/tracking-javascript-guide#when-user-logs-out-reset-user-id And similarly documented in https://matomo.org/faq/how-to/faq_187/

it's a bit convoluted/complex but that's the best we got :)

[2020-01-26 18:23] Tolriq commented on #281
BTW @d4rken anyway to have a new official release with my patches so I can stop managing a custom aar? :)

[2020-01-29 15:57] d4rken commented on #281
Sorry for the late reply, busy :sweat_smile:. You mean the patches from December?
Yeah I can make a release for that (hopefully) later today.

[2020-02-21 10:19] risayew commented on #281
Hi everybody, is this problem solved?

[2020-02-24 18:52] d4rken commented on #281
Not solved, ticket still open ;).

[2020-03-02 05:45] hannesa2 opened #287 "Crash found in EventDiskCache"
I found this crash with version `4.1.1`
I hope you find the reason easily

![image](https://user-images.githubusercontent.com/3314607/75648773-63852d00-5c51-11ea-89f8-aed27f5884ef.png)

These are the meta data
<img width="435" alt="image" src="https://user-images.githubusercontent.com/3314607/75648692-1dc86480-5c51-11ea-905a-5b06572bebc6.png">

[2020-04-30 12:46] SilvanaP commented on #232
Hello, I am currently also trying to integrate media tracking. I bought and installed the plugin on my server. But I am still confused about how to use TrackerHelper and TrackMe class properly. Could you please provide a concrete example where you use TrackerHelper and TrackMe class to log a media progress with the paramaters described here: https://developer.matomo.org/guides/media-analytics/cust

[2020-05-03 13:58] d4rken commented on #232
Previous comments are still valid. :point_up:

[2020-05-04 10:03] SilvanaP commented on #232
@d4rken I thought so and of course I already looked at the Links, but I still don't understand how to create an instance of TrackMe and how to pass it.

The DemoActovity.java class you posted above unfortunately does not have an example of the TrackMe class in use. I guess "TrackMe" stands for "Track Media"? I am already successfully using the TrackerHelper to track Events and Screens, but can't f

[2020-05-05 12:14] d4rken commented on #232
The `TrackHelper` class is a convenience tool to help construct `TrackMe` objects by offering a builder pattern with sane parameters. The `TrackHelper` class has no such convenience methods for any media specific events, so you have to build your own.

You can construct any TrackMe object you like:

[code]

How the parameters have to look for media events (i.e which are mandatory/optional), I don'

[2020-05-06 19:53] SilvanaP commented on #232
@d4rken Thank you so much! That made everything clear, its working now :)

[2020-05-09 05:25] VikasRao commented on #261
but how to push new_visit=1 from android, should we use Tracker.setUserId(1) or setVisitorId  or any other method?

[2020-05-10 11:59] d4rken commented on #261
[code]

[2020-06-16 05:53] userdimi opened #288 "Activate Logging"
Hey guys,

I've implemented the Matomo tracking library in my project like described in the documentation but for some reason I don't receive any events on my server. So my question is, is there a possibility to activate logging in the SDK so I can see that my client configuration is setup correct and the events are sent to the server?

[2020-06-16 08:11] d4rken commented on #288
The library internally logs via `Timber`, you can enable logging by planting a debug tree, see:

https://github.com/matomo-org/matomo-sdk-android/blob/master/exampleapp/src/main/java/org/matomo/demo/DemoApp.java#L41

[2020-06-17 13:32] userdimi commented on #288
Ok, works thank you. Would be nice if this would be a part of the documentation.

[2020-06-17 13:44] #288 closed

[2020-07-30 07:54] hannahcx opened #289 "Merging app and WebView visits"
iOS when tracking pages seems to work correctly, telling me how long I spent in app; however, android tells me I spent 1s in app no matter how long I spent clicking through pages. Can you help?

[2020-07-30 09:15] d4rken commented on #289
Time spent on a page is calculated server-side, from one view event to the next:
https://matomo.org/faq/how-to/faq_21158/

[2020-07-30 09:20] hannahcx commented on #289
No, as in it doesn't work :) not a question this is a bug! For android.

[2020-07-30 09:24] d4rken commented on #289
It works for me :tm: :sweat_smile:. Please share a minimal sample project to reproduce the bug.

[2020-07-30 09:44] hannahcx commented on #289
I think the issue is that we use webviews inside the app, but the webviews are not registering as the same session. Any work around for this?

[2020-07-30 10:18] d4rken commented on #289
That's probably it. I'm not sure if you can set the same IDs between both. I have never tried that.

You could track manually tracking pageviews by hooking into WebView callbacks.

[2020-07-30 10:31] hannahcx commented on #289
Yes, we've done that now, and this will allow us to capture time in app and also pages viewed; however, for more complex functionality like "clicks" and "errors seen" this will be too tricky for us to capture via webview callbacks without lots of work, so we were hoping to keep webview and app code separate but have them register as the same session in the Matamo UI.

[2020-07-30 10:37] d4rken commented on #289
That's not a use-case I've explored. You'd probably need to make sure the same IDs are used.
I'm not familiar with the JavaScript tracker. You'll have to dive into the code yourself.

[2020-07-30 10:49] hannahcx commented on #289
Same Id's used, but registered as two different sessions. Thanks anyway - needs to be resolved in the future because this is one reason why we are moving all of our apps to firebase in the future, because they handle this use case.

[2020-07-30 16:34] peterbo commented on #289
This is probably due to https://github.com/matomo-org/matomo/issues/15593 - which should be fixed with the next version.

[2020-07-30 16:45] hannahcx commented on #289
Ah yes, thank you, it's because of the "two sessions for a unique ID" that the app session (native pages) are registered as only being in the app for one second - if this is resolved then there potentially will be no issue, and we won't have to move to firebase!

[2020-08-07 08:47] idab99 opened #290 "Custom variables"
Is there a possibility to track custom variables without events in matomo visits logs. For each custom variable I am tracking one event is created in visits log. Also when i look in the option **Behavior-->Page titles** in Matomo portal i see one page with title "Page name not defined". That page is corresponding to the custom variable I created.

[2020-08-10 10:13] d4rken commented on #290
There is no API to submit them without either a page view or an event.

[2020-09-17 12:40] voxspox commented on #233
What about just using the fact that we know when the app has focus. If the app come to foreground a session starts and if the app goes to background a session ends. In between we can be sure the user is viewing a screen and thus the timer for this screen should run.

[2020-09-17 12:43] voxspox opened #294 "docs: broken links"
On [Getting-started](https://github.com/matomo-org/matomo-sdk-android/wiki/Getting-started) some links are broken because the point to the not existing page:

http://matomo.github.io/matomo-sdk-android/org/matomo/sdk/Tracker.html

[2020-09-18 10:35] RubenKoers commented on #233
The `enableHeartBeatTimer` would be also interesting for our application as we have many users just opening a single page before closing the app again. Is there any support for this functionality in IOS or Android yet?

[2020-10-18 21:12] tsteur opened #295 "Support new `ca` tracking parameter for tracking requests that aren't page views"
See https://github.com/matomo-org/matomo/issues/16569 to learn more about the problem it fixes and visit https://developer.matomo.org/api-reference/tracking-api for more documentation about the new `ca` parameter.

Basically, we should be sending `&ca=1` along any tracking request that isn't a page view. Practically, we should for now only send `&ca=1` along any event, content tracking, goals and

[2020-10-20 02:56] mattab opened #296 "Customise the base/domain of the automatically generated URLs tracked"
we got this question today:

i suppose this is a feature request in the SDK maybe?

[2020-10-25 20:02] d4rken commented on #296
Unless I miss understood the feature, that's already possible:

https://github.com/matomo-org/matomo-sdk-android/blob/master/tracker/src/main/java/org/matomo/sdk/TrackerBuilder.java#L61

[2020-10-26 20:21] mattab commented on #296
Thanks @d4rken I let them know :+1:

btw maybe it'd be possible to document it in https://github.com/matomo-org/matomo-sdk-android/wiki/Getting-started or in another page?

[2020-11-13 19:43] krisvasudevan opened #298 "Error while setting Custom Dimension"
Hi,

Based on the documentation here[https://developer.matomo.org/api-reference/PHP-Matomo-Tracker], it says that setCustomDimension function is available to set values of custom dimensions using the PHP tracker code.

However, when I put this in my PHP script like below:
`<?php
require_once "assets/custom/php/matomo_tracker.php";
MatomoTracker::$URL = '<matomo server URL>/matomo';

$matomoTracker

[2020-11-14 19:41] d4rken commented on #298
This is the repository for the **Android** SDK.

[2020-11-14 19:41] #298 closed

[2021-01-12 08:11] Iskander508 opened #299 "Duplicit reports on matomo cloud"
We've been using the matomo iOS and Android SDK in a react-native app for a past few months, reporting to the matomo.cloud servers. We can occasionally see some reports being doubled (a few times repeated even more than 5-times), meaning the same set of events within one visit being duplicit (same values, same timestamp), while reported from the app only once (we are very confident there're no dup

[2021-01-24 23:49] onelsonic opened #300 "duplicated"
duplicated

[2021-01-25 01:48] #300 closed

[2021-02-11 05:41] abhishekBansal opened #301 "Migration to mavenCentral()"
As `JCenter` has [decided to drop curtains](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) on its services, are there any plans to move to `mavenCentral()` in near future?

[2021-02-11 20:14] diosmosis commented on #301
Hi @abhishekBansal, this repository is currently unmaintained so unfortunately that's not something that's planned. We are currently looking for a maintainer, however. If you're interested, feel free to get in touch.

[2021-03-09 07:15] sepideh69 opened #302 "passing values with TrackMe"
I 'm using matomo to log the events in my android app.I use the below codes when I have one string and one float to pass and it works well :
 TrackHelper.track()
                .event("category_name"," event_name")
                .name("user_name")
                .value(user_Id)
                .with(tracker);
and I can see the log in Visitors>visits log as below:
category_name - event_name - u

[2021-03-12 19:51] d4rken commented on #302
You can find the code for the `TrackHelper.EventBuilder` here:
https://github.com/matomo-org/matomo-sdk-android/blob/9c3ccd2ac5070a3147f75bc4c461510f356bacf6/tracker/src/main/java/org/matomo/sdk/extra/TrackHelper.java#L215-L220

an event can only have one name, and one value.

Maybe you are looking for [Custom Dimensions](https://matomo.org/docs/custom-dimensions/)

[2021-04-21 06:29] kashifiqbal112 opened #304 "Custom Param in Track Even"
Can i pass Custom Param in track event like in Firebase in analytics if yes then how ?

[2021-04-25 21:54] kashifiqbal112 commented on #304
any one here to help?

[2021-04-30 09:06] FredJul opened #305 "High-level security issue detected by MobSF"
Hi,

MobSF (https://github.com/MobSF/Mobile-Security-Framework-MobSF) a static analyser, detected a high-level security issue :

It is maybe possible to simply fix it by specifying "android:exported=false".

[2021-05-06 09:24] JJSarrasin commented on #301
Same here, by using Gradle 7.0, it displayed a big warning saying Jcenter is already shutdown and the jcenter() support in AS will be removed with gradle 8.0

The RepositoryHandler.jcenter() method has been deprecated. This is scheduled to be removed in Gradle 8.0. JFrog announced JCenter's shutdown in February 2021. Use mavenCentral() instead. Consult the upgrading guide for further information:

[2021-05-12 10:31] Shabinder opened #306 "Trackind Data is not being shown in server"
Hey Matomo Team ,

I am using Latest version of the sdk and using it in my app ,
I can see in logs that Tracking Events are being sent to my server successfully!
<img width="1361" alt="image" src="https://user-images.githubusercontent.com/44765050/117960743-f1bb6f80-b33a-11eb-8d61-46ec3bef93b5.png">

But still my server isn't showing any data?
What could be the issue? and How to troubleshoot this.

[2021-05-12 11:29] Shabinder commented on #306
I enabled logging to file , and debug mode on for SQL too.

Still Server's log is empty
<img width="1187" alt="image" src="https://user-images.githubusercontent.com/44765050/117967995-54186e00-b343-11eb-9347-a0c607f4151b.png">

I am at completely lost here

[2021-05-12 12:12] Shabinder commented on #306
Fixed IT finally. I was using https instead of HTTP in uri fixed it

[2021-05-12 12:12] #306 closed

[2021-05-30 08:32] hannesa2 commented on #301
When I remove `jcenter()` by
<img width="326" alt="image" src="https://user-images.githubusercontent.com/3314607/120097157-3f075180-c12f-11eb-865b-be0bd3008764.png">

I run into
[code]

But there is a easy solution https://jitpack.io/#matomo-org/matomo-sdk-android/v4.1.2

	allprojects {
	  repositories {
	    ...
	    maven { url 'https://jitpack.io' }
	  }
	}

and

	dependencies {
	  implementati

[2021-07-08 08:19] espritm opened #308 "Issue with Android reporting"
Hello,
I am using Matomo for my platform with Android, iOS and web site. I have a prod environment and a dev environment.
For the prod environment, everything works well.
For the dev environment, the website and the iOS app works well, but I have an issue with Android : I cannot see any event or screen sent from the Android app to myDevEnv.com/piwik.php in myDevEnv.com/index.php

Note that I have

[2021-07-08 17:11] d4rken commented on #308
The URL in your screenshot looks different because one uses `GET` and the other `POST`.

https://github.com/matomo-org/matomo-sdk-android/blob/3080d186902968bde02a197274fe9d9efd91bb47/tracker/src/main/java/org/matomo/sdk/dispatcher/PacketFactory.java#L51-L52

https://github.com/matomo-org/matomo-sdk-android/blob/3080d186902968bde02a197274fe9d9efd91bb47/tracker/src/main/java/org/matomo/sdk/dispatch

[2021-07-09 09:08] espritm commented on #308
Hello d4rken,
Thank you for your answer !

I have activated the logs with Timber, and I can see the exception below :

[code]

I understand there is a problem with SSL, but I cannot understand why it is working on myprodenv. Any idea or documentation I could read to find a solution please ? Or is there a particular thing to do with Matogo to configure SSL ?

[2021-07-10 03:22] kevinslashslash opened #309 "Device information only report for first session per process"
Device information, such as resolution, user agent and language, only get reported for the first session causing "unknown" screen resolution and "Unknown" device brands and "Generic Mobile device" device models.
Steps to reproduce:
Setup backend and Demo App
In Demo App press Track Screen View then Dispatch Now
Verify this is reporting in Visits Log or Real-time. See that the device info is set (s

[2021-07-11 12:56] d4rken commented on #309
What do you think about extending the newSession check, to also check for the new session flag in the `TrackMe`:

https://github.com/matomo-org/matomo-sdk-android/blob/51181f41060d534fe59595455518266cd2a441d5/tracker/src/main/java/org/matomo/sdk/Tracker.java#L451-L456

Maybe we simplify this and also call it for every  inject base parameters call, starting to seem like this optimization is more tr

[2021-07-13 02:25] kevinslashslash opened #311 "EventDiskCache.writeEventFile fails if user clears cache on app while running"
Steps to reproduce
1) Enter airplane mode
2) Open Matomo  Example App
3) Track Screen View
4) Press the home button
At this point the `piwik_cache` directory is created and an event is stored there
5) App Info for Matomo Example App and Clear Cache
6) Reenter the Matomo Example app
7) Track Screen View
8) While watching the logcat press the home button
[code]

The directory is created when `EventD

[2021-07-18 12:42] d4rken commented on #311
Good catch, was fixed by #312.

[2021-07-18 12:42] #311 closed

[2021-07-26 19:27] kevinslashslash commented on #309
The fix in my pull request does fix the issue as described, however it doesn't eliminate sessions with no device information.

I think another way this can happen is that the session start event gets purged from the cache but the rest of the session doesn't. This could be addressed either by injecting the parameters to the session at dispatch time, which seems wrong as it's mixing responsibilities

[2021-07-30 13:42] d4rken commented on #309
I'm also leaning towards using the simpler solution, just inject on every event. The small gain is not worth the bag of edge cases.

[2021-08-02 10:32] d4rken commented on #301
I'll leave this open as the final goal would be to setup mavenCentral, but for now we can remove jcenter and go with JitPack.

[2021-08-02 16:36] d4rken commented on #308
Might be a self-signed certificate?
Closing due to not being an SDK issue.

[2021-08-02 16:36] #308 closed

[2021-08-02 16:36] #302 closed

[2021-08-02 16:36] #304 closed

[2021-08-02 16:36] #290 closed

[2021-08-02 21:07] #309 closed

[2021-08-23 21:39] ColeKainz opened #320 "Single session with actions from multiple visitor ids"
Hey all.

My company seeing sessions with actions from multiple visitors stitched together.
Basically, I see action from user 1 -> action from user two -> action from user 1.

The users have different user and visitor IDs, in many cases user 1 has no user ID. I noticed [this](https://github.com/matomo-org/matomo-sdk-android/issues/259) thread discussing visit stitching (d4rken's second comment). C

[2021-08-30 14:47] ColeKainz commented on #320
This is in the way of my company's business objectives. Does someone want to meet up in a live chat (telegram) to discuss this?

[2021-08-30 15:30] d4rken commented on #320
If this is business critical, consider [enterprise support](https://matomo.org/enterprise-analytics/).

[2021-08-30 15:50] ColeKainz commented on #320
I'll look into it, thanks.

[2021-09-22 16:39] suada-haji opened #321 "Why auth_token for POST transmissions(Bulk processing) has been deprecated? Can we still implement this?"
Hey all,
If we set `bulk_requests_require_authentication` to `1` in our `config` file, with the current implementation we are not able to add  `auth_token` for POST transmissions.

This implementation [existed previously](https://github.com/d4rken/piwik-sdk-android/blob/b0ca273c97887d9ef854bdf147bf83bb449de90a/piwik-sdk/src/main/java/org/piwik/sdk/dispatcher/PacketFactory.java#L79) and was removed

[2021-09-22 17:16] d4rken commented on #321
Because it's not secure.
The token would have to be stored client-side, in every users installation, and would be trivial to obtain.

You can pass anything manually as parameter to a `TrackMe` instance, but I strongly advise against it.

Further reading:
* https://matomo.org/faq/general/faq_114/
* https://github.com/matomo-org/matomo-sdk-ios/issues/99

[2021-09-29 08:45] #321 closed

[2021-12-03 07:58] jaypi95 commented on #301
The URL in the quick start part of the README should be updated too to `com.github.matomo-org:matomo-sdk-android` instead of `org.matomo.sdk:tracker`

Same for the part in the wiki.

[2021-12-03 08:07] d4rken commented on #301
Thanks, fixed.

[2021-12-08 13:34] heurteph-ei opened #322 "Documentation: dead links"
Page/Chapiter: https://github.com/matomo-org/matomo-sdk-android/wiki/Getting-started#basic

Both links are dead

I think all internal links in the page are dead...

[2021-12-09 07:30] d4rken commented on #322
Hm seems that links point to `/matomo` while the actual URL is `/matomo-org` :thinking:

[2021-12-09 07:41] d4rken commented on #322
Updated the docs.

[2021-12-09 07:41] #322 closed

[2021-12-13 13:31] Zhuinden opened #323 "Crash with targetSdkVersion 31 due to accessing WindowManager from ApplicationContext"
[code]

[2021-12-16 10:36] SilvanaP opened #324 "Issue with tracking in Production Environment"
Hello, I have exactly the same problems as described here: https://github.com/matomo-org/matomo-sdk-android/issues/308 with the only difference, that my production environment is the one that does not work and development does.

I do not get an SSL exception though, and when looking into the Timber logs, I do not get any hint what exactly is failing.
Is there any way to see what is actually causin

[2021-12-16 10:45] #294 closed

[2022-01-18 15:39] danielagiraldofletx opened #325 "ID configuration (Android app)"
Hello, i need a assistant... on the id configuration in a mobile app tracking! the names doesnt appear! Actually I'm using SDK so I don't know what could be happening. I hope you can help me.

[2022-05-06 15:19] CemGalioglu commented on #305
Any updates on this?

[2022-05-19 06:55] Poojakbarhate opened #326 "after creating cloud on matomo, it shows Only one last step to track your traffic with Matomo and gain valuable insights"
I am trying to send data to matomo server. but after sending the data from android app it shows me Only one last step to track your traffic with Matomo and gain valuable insights. so how can i solve this issue?

[2022-06-28 15:31] #324 closed

[2022-06-28 15:34] #320 closed

[2022-06-28 15:35] #299 closed

[2022-06-28 15:36] #289 closed

[2022-06-28 15:38] d4rken opened #327 "☕ Maintainer wanted ☕"
Matomo is (I am) looking for a new maintainer for the Android SDK (this project).

I just can't volunteer enough time :slightly_frowning_face: and would like to pass the :fire: to let someone else takes charge :rocket: .
The API is fairly stable and there are no major issues, but there are still tickets pilling up that would be great to get fixed.

e.g.:
* https://github.com/matomo-org/matomo-sdk-

[2022-07-09 05:39] hannesa2 commented on #327
I love the idea to pass the 🔥 to more maintainer. This increase the chance to avoid a dead project on the long run

[2022-07-09 08:51] d4rken commented on #327
Welcome! Happy to have you! :heart:

[2022-07-10 08:05] hannesa2 opened #331 "tests are failing"
On my local machine (Apple Silicon) `./gradlew test` is failing

<img width="1092" alt="image" src="https://user-images.githubusercontent.com/3314607/178136551-88ffb720-d2c7-4ddd-99d3-425acd041e0f.png">

[2022-07-10 08:53] hannesa2 commented on #323
This line doesn't exist `DeviceHelper.java:123` This means the file got same changes and raise the question: does the issue still exists ?

Btw, when I see this
<img width="715" alt="image" src="https://user-images.githubusercontent.com/3314607/178138014-264e25e8-805f-44ab-b31e-a8664a43eccb.png">

The question is valid, if set minSDk to 19 and loose 0,41 % ? @d4rken

<img width="743" alt="image" s

[2022-07-10 10:25] d4rken commented on #323
The error is from here, not sure why the line numbers are off.

https://github.com/matomo-org/matomo-sdk-android/blob/7216a3227cd225abd2850ba9615f0d05194079ca/tracker/src/main/java/org/matomo/sdk/tools/DeviceHelper.java#L78-L85

The SDK inits on the app context, so we get the `Display` from a non-ui context.

I wouldn't be opposed to raising the minApi (do we do a major version bump for this?), bu

[2022-07-10 18:04] hannesa2 commented on #331
Fixed with #332

[2022-07-10 18:04] #331 closed

[2022-07-10 18:05] #301 closed

[2022-07-11 05:40] hannesa2 opened #338 "Deprecation in DemoActivity"
https://github.com/matomo-org/matomo-sdk-android/blob/37d78d72f3e97dc988a169188c5c42716efeaefc/exampleapp/src/main/java/org/matomo/demo/DemoActivity.java#L59-L60

<img width="738" alt="image" src="https://user-images.githubusercontent.com/3314607/178196120-bf418d06-23b4-477a-9ebc-49f05d7f9356.png">

What's the right way here ?

[2022-07-15 12:28] kypeli opened #341 "Replace MD5 hash function with a non-broken one in Checksum.java"
MD5 is considered a broken cryptographic hash function. Please use some other hash function instead, like SHA-1 or SHA-2.

MD5 is used in this file https://github.com/matomo-org/matomo-sdk-android/blob/master/tracker/src/main/java/org/matomo/sdk/tools/Checksum.java

[2022-07-15 12:50] d4rken commented on #341
The SDK does not use the checksum to secure any secrets.
It's purely an identifier for for the APK file.
For this use-case it only matters that it is fast, and collisions are reasonably rare, while old, MD5 still fulfills that :beers:.

I don't see any benefit in changing it, it would also break the existing statistics data for everyone that updates.
I'd argue that this is working as intended.
Tho

[2022-07-20 12:00] adoboligh1 opened #342 "Java 11 Support?"
Hi I'm new to matomo android sdk and I want to ask if it supports Java 11

[2022-07-20 12:04] adoboligh1 commented on #342
Cold

[2022-07-29 11:33] d4rken opened #363 "Flaky unit test `testDispatchRetryWithBackoff`"
From #362:

https://github.com/matomo-org/matomo-sdk-android/runs/7577661791?check_suite_focus=true#step:5:162

[code]

Passed on second run.

[2022-08-26 09:01] jarroyoesp opened #369 "MavenCentral migration"
Hey guys, my Team would like to ditch Google Analytics and we are right now evaluating this library, which seems really promising. But, for internal reasons, we can't add Jitpack.io as repository. Besides that, currently we have more than 200 dependencies, including the transients, and this one would be the only one that would require Jitpack.

I know that this was discussed already(https://github

[2022-09-09 07:30] hannesa2 commented on #369
Someone has to do it.

[2022-09-19 04:23] hannesa2 commented on #259
Solved with  #373
If not, please reopen it

[2022-09-19 04:23] #259 closed

[2022-09-19 04:23] hannesa2 commented on #261
Solved with  #373
If not, please reopen it

[2022-09-19 04:23] #261 closed

[2022-10-10 09:24] hannesa2 opened #379 "Test new release pipeline"
@d4rken
Just to let you know, I made an automated created pre-release https://github.com/matomo-org/matomo-sdk-android/releases/tag/4.2-beta1 by setting just a `beta` in tag name to see if it works

[2022-10-10 09:24] #379 closed

[2022-10-10 09:26] hannesa2 commented on #379
In my point of view we could create a `4.2` now

[2022-10-10 09:45] d4rken commented on #379
Fine with me, go a head :+1:

[2022-10-10 18:42] hannesa2 commented on #363
I never run into this
https://github.com/matomo-org/matomo-sdk-android/actions/workflows/pull-request-ci.yml

I guess we can close it

[2022-10-10 18:42] #363 closed

[2022-10-26 14:29] Ahmed-Ganna opened #384 "multiple devices appear under the same visitor profile"
I have problems with Matomo android tracking which multiple devices appear under the same visitor profile on the dashboard ?
Normally visitor id should be attached to a single device